/* _color.scss */

$primary: #1f497d;
$accent: #00d4ea;

$background: #f7f7f7;
$foreground: #000000;
$form-bg: #eaeaea;
$table-divider: #d4d4d4;
$table-header-divider: #000000;
$link: $primary;
$header-bg: $primary;
$header-fg: #ffffff;
$header-button: $accent;
$menu-bg: $primary;
$menu-fg: #ffffff;
$toolbar-bg: #d4d4d4;
$toolbar-fg: #000000;
$toolbar-disabled-link: #7f7f7f;
$toolbar-border: #aeaeae;

