/* _color.scss */

$primary: #1f497d;
$secondary: #143052;
$accent: #00d4ea;

$background: #ffffff;
$foreground: #000000;
$form-bg: #f8f8f9;
$table-divider: #d4d4d4;
$table-header-divider: #000000;
$link: $primary;
$header-bg: $primary;
$header-fg: $background;
$title-bg: #ebebed;
$title-fg: $foreground;
$header-button: $accent;
$menu-bg: $primary;
$menu-fg: #ffffff;
$toolbar-bg: $title-bg;
$toolbar-fg: $title-fg;
$toolbar-disabled-link: #9e9e9e;
$toolbar-border: #aeaeae;
$line: #c8c8ce;
$icon-light: #5E5C64;
$icon-dark: #C0BFBC;
$success: #8FF0A4;
$failure: #ffddd8;
$disabled-field: #9e9e9e;
$window-border: #737381;
$pressed: #d9d9d9;
$disabled-bg: #fcfcfc;
$disabled-fg: #adadae;

