/* _color.scss */

$primary: #1f497d;
$secondary: #143052;
$accent: #00d4ea;

$background: #ffffff;
$foreground: #323237;
$view-bg: #FAFAFB;
$form-bg: $view-bg;
$input-bg: #E6E6E7;
$view-border: #B2B2B4;
$view-button-bg: #EBEBEB;
$button-bg: #input-bg;
$table-divider: #d4d4d4;
$table-header-divider: #000000;
$table-header-fg: #ADADAF;
$link: $primary;
$header-bg: $primary;
$header-fg: $background;
//$title-bg: #ebebed;
$title-bg: $background;
$title-fg: $foreground;
//$title-border: #bdbdbd;
$title-border: #E0E0E1;
$title-button-border: #a6a6a8;
$header-button: $accent;
$menu-bg: #303030;
$menu-fg: #BCBCBC;
$menu-border: #1D1D1D;
$selected-menu-bg: #444444;
$hovered-menu-bg: #4d4d51;
$pressed-menu-bg: #6D6D70;
$toolbar-bg: $title-bg;
$toolbar-fg: $title-fg;
$toolbar-disabled-link: #9e9e9e;
$toolbar-border: #aeaeae;
//$line: #c8c8ce;
$line: #DCDCDE;
$icon-light: #5E5C64;
$icon-dark: #C0BFBC;
$success: #8FF0A4;
$failure: #ffddd8;
$disabled-field: #9e9e9e;
$window-border: $line;
//$pressed: #d9d9d9;
$pressed-button-bg: #C2C2C3;
$hovered-button-bg: #E0E0E1;
$pressed: $pressed-button-bg;
$disabled-bg: #F0F0F1;
$disabled-fg: #949497;
$form-border: #bababa;
$title-shadow: 0 0 .3em 0 rgb(0, 0, 0, 0.09);
$content-shadow: 0 .05em .3em 0 rgb(0, 0, 0, 0.09);
$item-shadow: $content-shadow;
$window-shadow: 0 0 .7em 0 rgb(0, 0, 0, .2);
