
@font-face {
    font-family: "liberation_sans";
    src: url("font/LiberationSans-Regular.ttf");
}

@font-face {
    font-family: "liberation_sans";
    src: url("font/LiberationSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "liberation_sans";
    src: url("font/LiberationSans-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "liberation_sans";
    src: url("font/LiberationSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "liberation_serif";
    src: url("font/LiberationSerif-Regular.ttf");
}

@font-face {
    font-family: "liberation_serif";
    src: url("font/LiberationSerif-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "liberation_serif";
    src: url("font/LiberationSerif-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "liberation_serif";
    src: url("font/LiberationSerif-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}
