/* _size.scss */

@use "sass:math";

//$page-margin: 1em;
$page-margin: 4%;
$text-width: 40em;
$page-width: 72em;
$wide-page-margin: $page-width * .04;
//$corner-roundness: .3em;
$corner-roundness: .75em;
$sidebar-width: 17em;
$line-width: .07em;
$wide-screen: 48em;
$edge-padding: $line-width;
$content-only-left-margin: math.div($sidebar-width, 2);
