/* _size.scss */

@use "sass:math";

$page-margin: 1em;
$text-width: 40em;
$page-width: 72em;
$corner-roundness: .3em;
$sidebar-width: 17em;
$line-width: .06em;
$wide-screen: 48em;
$edge-padding: .06em;
$content-only-left-margin: math.div(($sidebar-width + $page-width - $page-width), 2);
