/* _size.scss */

$page-margin: 1rem;
$text-width: 40rem;
$page-width: 72rem;
$corner-roundness: .3rem;
$sidebar-width: 17rem;
$line-width: .06rem;
$wide-screen: 48rem;
$edge-padding: .06rem;
$content-only-left-margin: (($sidebar-width + $page-width) - $page-width) / 2;
