/* test.css */

$my-color: #000000;

#box:target {
	background-color: blue;
}

.textbox {
	background-color: yellow;
	height: 30rem;
	width: 5rem;
	float: left;
}

.box {
	margin-left: 5rem;
	background-color: yellow;
	height: 30rem;
	display: block;

	.divo, .diva {
		background-color: $my-color;
		width: 10rem;
		height: 10rem;
		display: inline-block;
	}

	.divo {
		background-color: pink;
		
	}

	.diva {

	}
}

@media (min-width: 30rem) {
	.box {
		background-color: green;
	}
}
