/* theme.css */

.form-status {
	margin: 1rem 0;
	color: var(--color-4);
}


.login-button {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 13rem;
	width: 100%;
	height: 2.1rem;
	padding: 0;
	gap: .5rem;
	color: var(--fg-color);
	border: solid #777777 .1rem;
	border-radius: 1rem;

	img {
		width: 1rem;		
		margin-right: .5rem;
	}

	&.google {
	}

	&:hover, &:focus {

	}
}

