/* accom-report.scss */


@font-face {
    font-family: "liberation_sans";
    src: url("/font/LiberationSans-Regular.ttf");
}

@font-face {
    font-family: "liberation_sans";
    src: url("/font/LiberationSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "liberation_sans";
    src: url("/font/LiberationSans-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "liberation_sans";
    src: url("/font/LiberationSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "liberation_serif";
    src: url("/font/LiberationSerif-Regular.ttf");
}

@font-face {
    font-family: "liberation_serif";
    src: url("/font/LiberationSerif-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "liberation_serif";
    src: url("/font/LiberationSerif-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "liberation_serif";
    src: url("/font/LiberationSerif-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

$page-margin: .6in .1in;

@page {
	size: A4 portrait;
	margin: $page-margin;
}

.print-view {
	font-family: "liberation_serif";
	font-size: 12pt;
}

@media screen {
	.print-view {
		padding: $page-margin;
	}
}

#cover-page, .start-page, h2, h3 {
	font-family: "liberation_sans";
}

p {
	width: auto;
	max-width: none;
}

/*
li, div {
	padding-top: .1em;
	padding-bottom: .1em;
}
*/

#page-header {
	width: auto;
	margin-left: .5em;
	margin-right: .5em;
	padding-left: 3em;
	border-bottom: .1em solid #000000;

	.logos, .text {
		display: inline-block;
		vertical-align: middle;
	}

	.logos {
		margin-right: .5em;
	}

	.logo {
		display: inline-block;
		height: 6em;
		width: 6em;
		margin-right: .5em;

		img {
			height: 100%;
			display: inline-block;
		}
	}
}

#page-header .text {
	.country, 
	.school, 
	.campus, 
	.organization {
		margin: 0;
	}

	.country, .campus {
		font-size: 1.2em;
	}

	.school, .organization {
		font-family: "liberation_sans";
	}

	.school {
		font-weight: bold;
	}
}

#cover-page {
	page-break-after: always;
	padding: .1em 0;


	p {
	}

	.cover-title {
		padding: 7em 0;

	}

}

.cover-title, .start-title {
	font-weight: bold;
	text-align: center;
	line-height: 1.1;


	.org-name,
	.school-name {
		margin: 0;
	}

	.org-name {
		font-size: 4.4em;
	}

	.school-name {
		font-size: 3.8em;
	}
}

#cover-page .info .credit {
	text-align: center;
	font-weight: bold;

	ul {
		padding-left: 0;
		list-style: none;
	}

	li {
		padding-top: 1.5em;
	}

	.title {
		margin-bottom: 0em;
	}
}

.start-page {
	font-weight: bold;
	page-break-after: always;
	text-align: center;

	.start-content {
		padding-top: 5em;
	}

	.event-name {
		font-size: 3.8em;
	}

	.year {
		font-size: 2em;
	}
}

.content {

}