/* accom-report.scss */

@font-face {
    font-family: "Liberation Sans";
    src: url("/font/LiberationSans-Regular.ttf");
}

@font-face {
    font-family: "Liberation Sans";
    src: url("/font/LiberationSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Liberation Sans";
    src: url("/font/LiberationSans-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Liberation Sans";
    src: url("/font/LiberationSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Liberation Serif";
    src: url("/font/LiberationSerif-Regular.ttf");
}

@font-face {
    font-family: "Liberation Serif";
    src: url("/font/LiberationSerif-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Liberation Serif";
    src: url("/font/LiberationSerif-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Liberation Serif";
    src: url("/font/LiberationSerif-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@media print {
    @page {
        size: A4 portrait;
        margin: 2em 1em;
    }

    body {
        font-family: Liberation Sans;
    }

    p {
        width: auto;
        max-width: none;
    }

    #page-header {
        width: auto;
        margin-top: 2em;
        margin-left: .5em;
        margin-right: .5em;
        padding-left: 3em;
        border-bottom: solid #000000 .1em;

        .logos, .text {
            display: inline-block;
            vertical-align: middle;
        }

        .logos {
            margin-right: .5em;
        }

        .logo {
            display: inline-block;
            height: 6em;
            min-width: 6em;
            margin-right: .5em;

            img {
                height: 100%;
            }
        }
    }

    #page-header .text {
        > * {
            margin: 0;
        }

        .country, .campus {
            font-size: 1.2em;
            font-family: "Liberation Serif";
        }

        .school {
            font-weight: bold;
        }
    }


}