/* accom-report.scss */

@use "sass:math";

@font-face {
    font-family: liberation-sans;
    src: url("/font/LiberationSans-Regular.ttf");
}

@font-face {
    font-family: liberation-sans;
    src: url("/font/LiberationSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: liberation-sans;
    src: url("/font/LiberationSans-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: liberation-sans;
    src: url("/font/LiberationSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: liberation-serif;
    src: url("/font/LiberationSerif-Regular.ttf");
}

@font-face {
    font-family: liberation-serif;
    src: url("/font/LiberationSerif-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: liberation-serif;
    src: url("/font/LiberationSerif-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: liberation-serif;
    src: url("/font/LiberationSerif-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

$page-margin-y: .6in;
$page-margin-x: .1in;
$page-width: 8.27in;
$page-height: 11.69in;

@page {
	size: $page-width $page-height;
	margin: $page-margin-y $page-margin-x;
}

.print-view {
	font-family: liberation-serif;
	font-size: 12pt;

	pre {
		font-family: liberation-serif;
	}

	p, pre {
		width: auto;
		max-width: none;
	}

	table {
		width: 100%;
		border-collapse: collapse;

		th, td {
			border: solid .09em #000000;
		}

		thead th {
			background-color: rgba(0, 0, 0, 0.067);
			text-align: left;
		}

		&.officers-attendance {
			th, td {
				text-align: center;
			}
		}
	}
}

@media screen {
	.print-view {
		padding: $page-margin-y $page-margin-x;
	}
}

@media print {
	.print-view hr {
		display: none;
	}
}

.print-view {
	position: relative;
	z-index: 1;
}

#cover-page, .start-page, h2, h3 {
	font-family: liberation-sans;
}

#page-header {
	width: auto;
	margin: 0 .5em;
	padding-left: 3em;
	border-bottom: .09em solid #000000;

	.logos, .text {
		display: inline-block;
		vertical-align: middle;
	}

	.logos {
		margin-right: .5em;
	}

	.logo {
		display: inline-block;
		height: 6em;
		width: 6em;
		margin-right: .5em;

		img {
			height: 100%;
			display: inline-block;
		}
	}
}

#page-header .text {
	.country, 
	.school, 
	.campus, 
	.organization {
		margin: 0;
	}

	.country, .campus {
		font-size: 1.2em;
	}

	.school, .organization {
		font-family: liberation-sans;
	}

	.school {
		font-weight: bold;
	}
}

#cover-page {
	page-break-after: always;
	padding: .1em 0;

	.cover-title {
		padding: 7em 0;

	}
}

.cover-title, .start-title {
	font-weight: bold;
	text-align: center;
	line-height: 1.1;


	.org-name,
	.school-name {
		margin: 0;
	}

	.org-name {
		font-size: 4.4em;
	}

	.school-name {
		font-size: 3.8em;
	}
}

#cover-page .info .credit {
	text-align: center;
	font-weight: bold;

	ul {
		padding-left: 0;
		list-style: none;
	}

	li {
		padding-top: 1.5em;
	}

	.title {
		margin-bottom: 0em;
		margin-top: 2em;
	}
}

.start-page {
	font-weight: bold;
	page-break-before: always;
	text-align: center;

	.start-content {
		padding-top: 5em;
	}

	.event-name {
		font-size: 3.8em;
	}

	.year {
		font-size: 2em;
	}
}

.content {
	page-break-before: always;
	padding: 0 1em;

	.sections {
		padding: 0 1em;
	}

	.event-name {
		text-align: center;
		border: .09em solid #000000;

		h2 {
			font-size: 3em;
			margin: 0;
		}
	}

	.evaluation-summary {
		.overall-score {
			font-weight: bold;
		}

		th, td {
			border: 0;
		}

		tbody th {
			text-align: left;
		}
	}
}

.list-section p {
	margin-bottom: 0;
}

.comment-list {
	margin: 0;

	pre {
		margin: 0;
	}
}

.date-section {
	ul {
		list-style: none;
		padding-left: 0;
	}
}

.attachment-section {

    .attachment {
        text-align: center;
    }

    img {
        display: inline-block;
        //max-height: calc($page-height - 7.2in);
        max-height: $page-height * 0.42 - $page-margin-y;
        object-fit: contain;
        vertical-align: middle;
        margin: .5em 0;

        &:first-child {
            margin-right: .5em;
        }

        &:only-child {
            margin-right: unset;
        }
    }

    img.landscape {
        //width: calc($page-width - 1in);
        width: $page-width * 0.89 - $page-margin-x;
    }

    img.square, img.portrait {
        //width: calc($page-width - 4.8in);
        width: $page-width * 0.43 - $page-margin-x;

        &.full-width {
            //max-height: calc($page-height - 2.4in);
            max-height: $page-height * 0.85 - $page-margin-y;
            //width: calc($page-width - 1in);
	    width: $page-width * 0.89 - $page-margin-x;
        }
    }

    .caption {
	margin-top: 0;
	margin-bottom: 1em;
        text-align: center;
    }
}
