/* accom-report.scss */

@font-face {
    font-family: "Liberation Sans";
    src: url("/font/LiberationSans-Regular.ttf");
}

@font-face {
    font-family: "Liberation Sans";
    src: url("/font/LiberationSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Liberation Sans";
    src: url("/font/LiberationSans-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Liberation Sans";
    src: url("/font/LiberationSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Liberation Serif";
    src: url("/font/LiberationSerif-Regular.ttf");
}

@font-face {
    font-family: "Liberation Serif";
    src: url("/font/LiberationSerif-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Liberation Serif";
    src: url("/font/LiberationSerif-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Liberation Serif";
    src: url("/font/LiberationSerif-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@media print {
    @page {
        size: A4 portrait;
        margin: 4em 1.3em;
    }

    body {
        font-family: Liberation Serif;
        font-size: 12pt;
    }

    #cover-page, .start-page, h2, h3 {
        font-family: Liberation Sans;
    }

    p {
        width: auto;
        max-width: none;
    }

    #page-header {
        width: auto;
        margin-left: .5em;
        margin-right: .5em;
        padding-left: 3em;
        border-bottom: solid #000000 .1em;

        .logos, .text {
            display: inline-block;
            vertical-align: middle;
        }

        .logos {
            margin-right: .5em;
        }

        .logo {
            display: inline-block;
            height: 6em;
            min-width: 6em;
            margin-right: .5em;

            img {
                height: 100%;
            }
        }
    }

    #page-header .text {
        > * {
            margin: 0;
        }

        .country, .campus {
            font-size: 1.2em;
            font-family: "Liberation Serif";
        }

        .school {
            font-weight: bold;
        }
    }

    #cover-page {
        break-after: always;
        height: 9in;
        padding: .1em 0;

        .cover-title {
            padding: 9em 0;

        }

    }

    .cover-title, .start-title {
        font-weight: bold;
        text-align: center;
        line-height: 1.1;

        > * {
            margin: 0;
        }

        .org-name {
            font-size: 4.4em;
        }

        .school-name {
            font-size: 3.8em;
        }
    }

    #cover-page .info .credit {
        text-align: center;
        font-weight: bold;
        margin-bottom: 2em;

        ul {
            padding-left: 0;
            list-style: none;
        }

        li {
            margin-bottom: 2.5em;
        }

        .title {
            margin-bottom: 3em;
        }
    }

    .start-page {
        font-weight: bold;
        break-after: always;
        text-align: center;

        .start-content {
            padding-top: 5em;
        }

        .event-name {
            font-size: 3.8em;
        }

        .year {
            font-size: 2em;
        }
    }

    .content {

    }
}