/* gpoa-report.scss */

@font-face {
	font-family: "Liberation Sans";
	src: url("/font/LiberationSans-Regular.ttf");
}

@font-face {
    font-family: "Liberation Sans";
    src: url("/font/LiberationSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Liberation Sans";
    src: url("/font/LiberationSans-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Liberation Sans";
    src: url("/font/LiberationSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
	font-family: "Liberation Serif";
	src: url("/font/LiberationSerif-Regular.ttf");
}

@font-face {
    font-family: "Liberation Serif";
    src: url("/font/LiberationSerif-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Liberation Serif";
    src: url("/font/LiberationSerif-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Liberation Serif";
    src: url("/font/LiberationSerif-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@media print {
	body {
		font-family: "Liberation Sans";
	}

    .logo {
        display: inline-block;
        height: 6em;
        min-width: 6em;
        margin-right: .5em;

        img {
            height: 100%;
        }
    }

    @page {
        size: A4 landscape;
        margin: 0;
        margin-top: 5em;
        margin-bottom: 5em;
    }

    @page:first {
    	margin-top: 0;
    }

    #page-header {
        width: auto;
        margin-top: 2em;
        margin-left: .5em;
        margin-right: .5em;
        padding-left: 6em;
        border-bottom: solid #000000 .1em;

        .logos, .text {
            display: inline-block;
            vertical-align: middle;
        }

        .logos {
            margin-right: .5em;
        }
    }

    #page-header .text {
    	> * {
    		margin-top: 0;
    		line-height: 1;
    	}

    	.country, .campus {
    		font-size: 1.2em;
    		font-family: "Liberation Serif";
    	}

    	.school {
            font-weight: bold;
    	}
    }

    .header {
        font-weight: bold;
    	font-size: 1.2em;
    	text-align: center;
    	margin-bottom: .5em;
    	margin-top: .3em;

    	> * {
    		margin: 0;
    		width: auto;
    		max-width: none;
    	}
    }

    table {
    	border-collapse: collapse;
    	width: 97%;
    	margin-left: 1em;
    	break-after: always;
    }

    th, td {
    	border: solid #000000 .1em;		
    }

    th {
    	background-color: #f5f5f5;
        font-weight: bold;
    }

    td {
    	text-align: center;

    	ul {
    		padding-left: 0;
    		list-style: none;
    	}
    }

    .row-number {
        font-weight: bold;
    }

    .signatures-page .column {
        display: inline-block;
        width: 49%;
        vertical-align: top;

        .content-block {
            padding-left: 8em;
        }

        .person-list {
            padding-left: 0;
            list-style: none;

            li {
                margin: 4em 0;
            }

            .name, .position {
                font-weight: bold;
                margin: 0;
            }

            .position {
                font-style: italic;
            }
        }
    }
}