/* _alert.scss */

@use "../size";
@use "../color";

@keyframes collapse {
    /*
	from {
		visibility: visible;
		height: max-content;
	}
    */

	to {
		visibility: collapse;
		height: 0;
		margin: 0;
		padding: 0;
	}
}

.alert {
	border-bottom: size.$line-width solid color.$line;
	max-width: max-content;

	li {
		max-width: size.$text-width;
	}

	:first-child {
		margin-top: 0;
	}

	:last-child {
		margin-bottom: 0;
	}
}

.alert.alert-info {
	background-color: color.$success;
	margin: .3rem 0rem;
	max-width: unset;
	width: unset;
	animation: collapse .001s 5s forwards;
	padding: .5rem 1rem;

	p {
		width: unset;
	}
}

.alert.alert-error {
	background-color: color.$failure;
	padding: 1rem;
	margin: 1rem 0;
}

