/* _alert.scss */

@use "../size";
@use "../color";

@keyframes collapse {
	to {
		visibility: collapse;
		height: 0;
		margin: 0;
		padding: 0;
	}
}

.alert {
	border-bottom: size.$line-width solid color.$line;

	li {
		max-width: size.$text-width;
	}

	:first-child {
		margin-top: 0;
	}

	:last-child {
		margin-bottom: 0;
	}
}

.alert.alert-info {
	background-color: color.$success;
	margin: .3em 0em;
	animation: collapse .001s 5s forwards;
	padding: .5em 1em;
}

.alert.alert-error {
	background-color: color.$failure;
	padding: 1em;
	margin: 1em 0;
	max-width: size.$text-width - 2em;
	width: auto;

	p {
		width: auto;
	}
}

