/* _document.scss */

@use "../color";
@use "../size";

.print-view {
	background-color: #ffffff;
	color: #000000;
}

@media screen {
	.print-view {
		margin-top: 1em;
		background-color: #ffffff;
		height: calc(100vh - 17em);
		overflow: auto;
		border: size.$line-width solid color.$line;
	}
}

@media print {
	.print-control {
		display: none;
	}
}

.pdf-document {
	width: 100%;
	margin: 1em 0;

	.caption {
		text-align: center;
	}

	figure {
		margin: 0;
	}

	.pdf-file {
		width: 100%;
		height: 100%;
		margin: 1em 0;
		margin-bottom: .5em;
		background-color: color.$background;
		border: solid size.$line-width color.$line;

		object, iframe {
			width: 100%;
			height: 11cm;
			max-height: calc(100vh - 10em);

			p {
				margin-left: 1em;
				margin-right: 1em;
			}
		}
	}
}

.image-file {
	margin-left: 0;	
	margin-right: 0;	
	width: size.$text-width;
	max-width: 100%;

	img {
		width: 100%;
	}
}

.document-view {
	margin: 0;

	embed {
		width: 100%;
	}
}
