/* _form.scss */

@use "../size";

form {
	a {
		color: var(--color-4);
	}

	label {
		display: block;
		margin-bottom: .5rem;
	}

	input:not([type="checkbox"]):not([type="radio"]):not([type="date"]):not([type="time"]),
	select,
	textarea,
	fieldset {
		max-width: 100%;
		width: size.$text-width;
	}

	.datetime-range {
		display: block;
		width: 15rem;
		max-width: 100%;

		input {
			width: unset;
			max-width: unset;
			min-width: unset;
			margin-bottom: .3rem;
		}
	}

    .checkbox {
        white-space: nowrap;

        input[type="checkbox"], input[type="radio"] {
            display: inline-block;
            margin-right: .5rem;
            vertical-align: top;
            margin-top: .2rem;

            + label {
                display: inline-block;
                margin-bottom: unset;
                max-width: 90%;
                white-space: wrap;
            }
        }

    }

	input[type="checkbox"], input[type="radio"] {
		margin-right: .5rem;

		+ label {
            display: inline;
			margin-bottom: unset;
		}
	}

	textarea {
		height: 5rem;
	}

	.checkbox-field, radio-field {
		display: inline-block;
		margin: .5rem 0;
		margin-right: 1rem;

		input {
			margin-right: .5rem;
			vertical-align: middle;
		}

		label {
			display: unset;
			vertical-align: middle;
		}
	}

	fieldset {
        margin: 1rem 0;
	}

	button {
		margin-right: .5rem;
		margin-bottom: .5rem;

		&:last-of-type {
			margin-right: 0;
			margin-bottom: 0;
		}
	}

	.button, .form-submit {
		text-align: right;
	}

	.inline {
		max-width: size.$text-width;

		p {
			display: inline-block;
			max-width: unset;
			margin-right: 1rem;
			margin-bottom: 0;
		}
	}

	.content {
		padding-left: 1.8rem;
	}
}

.submit-buttons, .submit-button {
	max-width: size.$text-width;
	text-align: right;

	button {
		margin-right: .5rem;

		&:last-child {
			margin-right: 0;
		}
	}

	form {
		display: inline;
		margin-right: .5rem;
		margin-bottom: .5rem;

		&:last-child {
			margin-right: 0;
			margin-bottom: 0;
		}
	}
}
