/* _form.scss */

@use "../size";
@use "../color";
@use "../font";

input,
optgroup,
select,
button,
textarea {
        font-family: font.$font;
        padding: .3em 0;
        background-color: color.$background;
        color: color.$foreground;
        border-radius: size.$corner-roundness;
        border: solid color.$form-border size.$line-width;
	line-height: 1.5;

        &:disabled, &:disabled:active {
                background-color: color.$disabled-bg;
                color: color.$disabled-fg;
        }

}

button {
	padding: .55em;
	min-width: 4.5em;

	&:active {
		background-color: color.$pressed;
	}
}

input::file-selector-button {
	padding: .55em;
	min-width: 4.5em;

	&:active {
		background-color: color.$pressed;
	}
}

input::file-selector-button {
        font-family: font.$font;
        background-color: color.$background;
        color: color.$foreground;
	padding: .25em;
	border: 0;
	border-right: solid color.$form-border size.$line-width;
	border-radius: 0;
	height: 100%;
}

input[type="file"] {
	padding: 0;
	height: 2em;
}

form {
	label {
		display: block;
		margin-bottom: .5em;
	}

	input, select, textarea {
		max-width: 100%;
		width: size.$text-width;
	}

	input[type="checkbox"], 
	input[type="radio"], 
	input[type="date"],
	input[type="time"] {
		max-width: none;
		width: auto;
	}

	.datetime-range {
		display: block;
		width: 15em;
		max-width: 100%;

		input {
			width: auto;
			max-width: none;
			min-width: auto;
			margin-bottom: .3em;
		}
	}

	.checkbox {
		white-space: nowrap;

		input[type="checkbox"], input[type="radio"] {
			display: inline-block;
			margin-right: .5em;
			vertical-align: top;
			margin-top: .3em;

			+ label {
				white-space: normal;
				display: inline-block;
				vertical-align: top;
				margin-bottom: auto;
				max-width: calc(100% - 1.5em);
				white-space: normal;
			}
		}

		&:first-child {
			margin-top: 0;
		}

	}

	input[type="checkbox"], input[type="radio"] {
		margin-right: .5em;

		+ label {
			display: inline;
			margin-bottom: auto;
		}

		&[disabled] + label {
			color: color.$disabled-field;
		}
	}

	textarea {
		height: 5em;
	}

	.checkbox-field, radio-field {
		display: inline-block;
		margin: .5em 0;
		margin-right: 1em;

		input {
			margin-right: .5em;
			vertical-align: middle;
		}

		label {
			display: inline;
			vertical-align: middle;
		}
	}

	fieldset {
		border: solid size.$line-width color.$line;
		max-width: size.$text-width - 2em;
		padding-left: 1em;
		padding-right: 1em;

		margin: 1em 0;
		
		p {
			width: 100%;
		}

		label + input {
			width: 100%;
		}
	}

	.button, .form-submit {
		text-align: right;
	}

	.inline {
		max-width: size.$text-width;

		p {
			display: inline-block;
			max-width: 100%;
			width: auto;
			margin-right: 1em;
			margin-bottom: 0;
			vertical-align: bottom;
		}

		button {
			margin-bottom: 0;
			margin-top: .5em;
		}

		button:first-child {
			margin-top: 0;
		}

	}

	.content {
		padding-left: 1.8em;
	}
}

.main-content button {
	margin-right: .5em;
	margin-bottom: .5em;

	&:last-child {
		margin-right: 0;
		margin-bottom: 0;
	}
}

.submit-buttons, .submit-button {
	width: size.$text-width;
	max-width: 100%;
	text-align: right;
	margin: 1em 0;

	button {
		margin-right: .5em;

	}

	form {
		display: inline;
		margin-right: .5em;
		margin-bottom: .5em;

	}

	button:last-child,
	form:last-child {
		margin-right: 0;
		margin-bottom: 0;
	}
}
