/* _form.scss */

@use "../size";
@use "../color";
@use "../font";

input,
optgroup,
select,
button,
textarea {
        font-family: font.$font;
        padding: .25em 0;
        background-color: color.$background;
        color: color.$foreground;
        border-radius: size.$corner-roundness;
        border: solid color.$line size.$line-width;

        &:disabled {
                background-color: color.$disabled-bg;
                color: color.$disabled-fg;
        }

}

button {
	&:active {
		background-color: color.$pressed;
	}
}

form {
	label {
		display: block;
		margin-bottom: .5em;
	}

	input, select, textarea, fieldset {
		max-width: 100%;
		width: size.$text-width;
	}

	input[type="checkbox"], 
	input[type="radio"], 
	input[type="date"],
	input[type="time"] {
		max-width: none;
		width: auto;
	}

	.datetime-range {
		display: block;
		width: 15em;
		max-width: 100%;

		input {
			width: auto;
			max-width: none;
			min-width: auto;
			margin-bottom: .3em;
		}
	}

    .checkbox {

        input[type="checkbox"], input[type="radio"] {
            display: inline-block;
            margin-right: .5em;
            vertical-align: top;
            margin-top: .2em;

            + label {
                display: inline-block;
                margin-bottom: auto;
                max-width: 90%;
                white-space: normal;
            }
        }

    }

	input[type="checkbox"], input[type="radio"] {
		margin-right: .5em;

		+ label {
			display: inline;
			margin-bottom: auto;
		}

		&[disabled] + label {
			color: color.$disabled-field;
		}
	}

	textarea {
		height: 5em;
	}

	.checkbox-field, radio-field {
		display: inline-block;
		margin: .5em 0;
		margin-right: 1em;

		input {
			margin-right: .5em;
			vertical-align: middle;
		}

		label {
			display: inline;
			vertical-align: middle;
		}
	}

	fieldset {
		margin: 1em 0;
		
		p {
			width: 100%;
		}
	}

	.button, .form-submit {
		text-align: right;
	}

	.inline {
		max-width: size.$text-width;

		p {
			display: inline-block;
			max-width: 100%;
			width: auto;
			margin-right: 1em;
			margin-bottom: 0;
		}
	}

	.content {
		padding-left: 1.8em;
	}
}

.main-content button {
	padding: .25em;
	margin-right: .5em;
	margin-bottom: .5em;

	&:last-child {
		margin-right: 0;
		margin-bottom: 0;
	}
}

.submit-buttons, .submit-button {
	width: size.$text-width;
	max-width: 100%;
	text-align: right;
	margin: 1rem 0;

	button {
		margin-right: .5em;

	}

	form {
		display: inline;
		margin-right: .5em;
		margin-bottom: .5em;

	}

	button:last-child,
	form:last-child {
		margin-right: 0;
		margin-bottom: 0;
	}
}
