/* _html.scss */

@use "../size";
@use "../color";

h1, h2, h3, h4, h5, h6, th {
	&.title {
	    font-weight: normal;
	    font-size: 1rem;
		width: size.$text-width;
		max-width: 100%;
	}
}

pre {
	font-family: inherit;
	white-space: pre-wrap;
	width: size.$text-width;
	max-width: 100%;
	hyphens: auto;
}

p {
	width: size.$text-width;
	max-width: 100%;
	hyphens: auto;
}

a, button {
    > .icon, > .text {
        display: inline-block;
        white-space: wrap;
        vertical-align: middle;
    }

    > .icon {
        line-height: 0;
    }

    > .text {

    }
}

a:hover > .text,
a:focus > .text {
    text-decoration: underline;
}

.signin-link {
	border: solid size.$line-width color.$icon-dark;
	width: 17rem;
	max-width: 100%;
	display: block;
	text-align: center;
	text-decoration: none;
	color: inherit;
	padding: .3rem;
	border-radius: size.$corner-roundness;

	&:hover .text, &:focus .text {
		text-decoration: none;
	}
}
