/* _html.scss */

@use "../size";
@use "../color";
@use "../font";

:root, html {
	color-scheme: only light; 
}

html {
	line-height: 1.5;
}

*, ::before, ::after {
	box-sizing: content-box;
}

a {
	text-underline-offset: .25em;

	&:hover, &:active {
		text-decoration-thickness: .1em;
	}
}

h1, h2, h3, h4, h5, h6, th {
	&.title {
	    font-weight: normal;
	    font-size: 1em;
		width: size.$text-width;
		max-width: 100%;
	}
}

pre {
	font-family: font.$font;
	white-space: pre-wrap;
	width: size.$text-width;
	max-width: 100%;
}

p {
	width: size.$text-width;
	max-width: 100%;
}

.icon {
	display: inline-block;
	line-height: 0;
	border: none;
        vertical-align: top;
	margin-top: .1em;
	margin-right: .5em;
}

.has-icon {
	white-space: nowrap;
}

.icon + .text {
	display: inline-block;
        vertical-align: top;
	margin: 0;
	white-space: normal;
	width: calc(100% - 1.75em);
}

a, button {
    > .icon, > .text {
        display: inline-block;
        white-space: normal;
        vertical-align: top;
    }

    > .icon {
        line-height: 0;
	border: none;
	margin: 0;
	margin-right: .3em;
    }

    > .icon + .text {
	width: auto;
    }
}

a:hover > .text,
a:focus > .text {
    text-decoration: underline;
}

.signin-link {
	border: solid size.$line-width color.$icon-dark;
	width: 17em;
	max-width: 100%;
	display: block;
	text-align: center;
	text-decoration: none;
	color: color.$foreground;
	padding: .3em;
	border-radius: size.$corner-roundness;

	&:hover .text, &:focus .text {
		text-decoration: none;
	}
}
