/* _list.scss */

@use "../size";
@use "../color";

.content-list {
    list-style: none;

    li {
        margin: .5em 0;
    }
}

.item-list {
	list-style-type: none;
	padding-left: 0;
	max-width: size.$text-width;

	.item {
		margin: 1em 0;
		white-space: nowrap;
	}

	.content, .context-menu {
		display: inline-block;
		white-space: normal;
		vertical-align: top;
	}

	.content {
		width: 70%;
	}

	.context-menu {
		width: 30%;
		text-align: right;

		form {
			display: inline;
		}

		button {
			margin-left: .5em;
		}
	}
}

