/* _list.scss */

@use "../size";
@use "../color";

.article-list > * {
	.title {
		font-size: 1.2em;
	}

	border: solid color.$form-border size.$line-width;
	border-radius: size.$corner-roundness;
	margin-bottom: 1em;
	background-color: color.$background;
	padding: 0 1em;
	vertical-align: top;

	a:hover, a:active {
		text-decoration-thickness: .3em;
	}
}

.view-links  {
	text-align: center;
	margin: .5em 0; 

	> .content-block {
		display: inline-block;
		white-space: nowrap;
		border-radius: size.$corner-roundness;
		border: solid color.$form-border size.$line-width;
		width: auto;
		overflow: hidden;
	}

	a {
		display: inline-block;
		padding: .625em;
	}

	a:link, a:visited {
		color: color.$foreground;
		text-decoration: none;
	}

	a:active {
		background-color: color.$pressed;
	}
}

.view-links > .content-block > * {
	display: inline-block;
	width: auto;
	background-color: color.$background;
	margin: 0;
	border-left: solid color.$form-border size.$line-width;

	&:first-child {
		border-left: 0;
	}

	&.current-view {
		background-color: color.$pressed;
	}
}

.content-list {
    list-style: none;

    li {
        margin: .5em 0;
    }
}

.item-list {
	list-style-type: none;
	padding-left: 0;
	max-width: size.$text-width + 2em;
	border: solid size.$line-width color.$line;
	border-radius: size.$corner-roundness;
	background-color: color.$background;
	margin-left: auto;
	margin-right: auto;

	.item {
		white-space: nowrap;
		border-top: solid size.$line-width color.$line;
		padding: 0 2%;

		&:first-child {
			border-top: 0;
		}
	}

	.content, .context-menu {
		display: inline-block;
		white-space: normal;
		vertical-align: top;
	}

	.content {
		margin: 1em 0;
		width: 58%;
	}

	.context-menu {
		width: 40%;
		text-align: right;
		margin: .40em 0;

		form {
			display: inline;
		}

		button {
			margin-left: .5em;
		}
	}
}

