/* _main.scss */

@use "../color";
@use "../size";
@use "../font";

$one-d-table-width: 3em + 12em + size.$text-width;

.main-content .article.has-item-full-content {
	padding: 0;
}

.item-full-content {
	background-color: color.$background;
	padding: size.$edge-padding 1em;
}

@mixin item-full-content-wide {
	background-color: color.$background;
	padding: size.$edge-padding 1em;
	margin: 1em auto;
	border-radius: size.$corner-roundness;
	border: solid size.$line-width color.$line;

	hr {
		display: none;
	}

	&:first-child {
		margin-top: 2em;
	}
}

.main-content .article.has-item-full-content {
}

.item-full-content-wide {
	@include item-full-content-wide;
}

@media (min-width: #{(size.$wide-screen)}) {
	.main-content .article.has-item-full-content {
		padding: 0 size.$page-margin;
	}

	.item-full-content {
		@include item-full-content-wide;
	}

	.item-full-content-wide {
		@include item-full-content-wide;
	}

}

.main-content .main-status {
	.title {
		font-weight: bold;
	}

	> * {
		white-space: nowrap;
	}
}

.main-body {
	margin: 0;
	background-color: color.$background;
	color: color.$foreground;

	a:link, a:visited {
		color: color.$link;
	}
}

.main-body.form,
.main-body.view {
	background-color: color.$view-bg;
}

.main-body.index {
	.main-content-header > .content-block {
		margin: 0;
	}

	.main-content {
		> .content-block {
			height: calc(100vh - 10em);
			overflow: auto;
		}

		.main-toolbar + .content-block {
			height: calc(100vh - 12em);
		}

		.article {
			margin: 0;
		}
	}

	.main-content-header .title {

	}
}

.main-header-title {
	background-color: color.$header-bg;
	white-space: nowrap;
	padding: .56em;
	width: size.$page-width;
	max-width: 100%;
	text-align: justify;
}

.main-header-title > * {
	display: inline-block;
	vertical-align: middle;
	width: 49%;
}

.main-account-link {
	text-align: right;

	.text {
		width: 1px;
		height: 1px;
		overflow: hidden;
	}
}

.main-brand {
	white-space: nowrap;

	.name,
	.logo {
		display: inline-block;
		vertical-align: middle;
	}

	.name {
		color: color.$accent;
		font-family: Oxanium, font.$font;
		font-size: 1.5em;
		font-weight: 600;
	}

	.logo {
		height: 2em;
	}
}

.main-header-info {
	display: none;
	background-color: color.$menu-bg;
	padding-top: size.$edge-padding;
	padding-bottom: 1em;

	.account {
		color: #ffffff;
		padding: 0 1em;
		margin-top: 1em;

		.main-action {
			text-align: right;
			margin: 0;
			width: 100%;

			a[href] {
				color: color.$header-fg;
			}

			.text {
				text-align: left;
			}
		}

		.info {
		}

		.avatar, 
		.details {
			display: inline-block;
			vertical-align: top;
			margin-top: .5em;
		}

		.avatar {
			width: 3.3em;
			height: 3.3em;
			margin-right: .5em;
			overflow: hidden;
			clip-path: circle(50%);

			img {
				display: block;
				height: 100%;
				margin: 0 auto;
			}
		}

		.details {
			white-space: normal;
			max-width: size.$sidebar-width - 6.5em;

			.name {
				font-weight: bold;
				color: color.$accent;
			}

			.position {
			}
		}

		.details > * {
			white-space: normal;
			margin: 0;
			margin-bottom: 1em;
			width: auto;
			max-width: none;
		}
	}
}

.main-header-menu {
	.title {
		display: none;
	}

	ul {
		margin: 0;
		list-style: none;
		white-space: nowrap;
		padding: 0 1em;
	/*
		overflow-x: auto;
	*/
	}

	li {
		display: inline-block;
		margin-top: .5em;
		margin-right: 1em;
	}

	a:link, a:visited {
		text-decoration: none;
		color: color.$menu-fg;
	}
}

.main-header {
	background-color: color.$menu-bg;
	color: color.$menu-fg;

}

.close-menu-button {
	display: none;
	position: fixed;
	top: 0;
        left: size.$sidebar-width; 
	border: 0;
	background-color: transparent;
	height: 100%;
	width: 100%;
	cursor: default;

	.text {
		width: 1px;
		height: 1px;
		overflow: hidden;
		display: inline-block;
	}
}

.main-main {
	/*
	background-color: color.$header-bg;
	*/
}

.main-content-header {
	color: color.$title-fg;
	background-color: color.$title-bg;
	overflow: hidden;

	> .content-block {
		padding: 0 size.$page-margin;
		max-width: size.$page-width;
		white-space: nowrap;
	}

	.nav-actions {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	/*
		float: left;
	*/
		padding: .4em 0;
	/*
		height: 2.44em;
	*/
	}

	.title {
		vertical-align: middle;
		display: inline-block;
		margin: 0;
		text-overflow: ellipsis;
		overflow: hidden;
	/*
		font-size: 1.2em;
	*/
		padding: .92em 0;
		width: calc(96% - 2.8em);
	}
}

.main-menu-button,
.main-back-link {
	cursor: default;
	margin-right: 1em;
	background-color: transparent;
	color: color.$header-fg;
	text-decoration: none;
	display: inline-block;
	padding: .4em;
	border: solid size.$line-width color.$title-bg;
	border-radius: size.$corner-roundness;

	.icon {
		margin: 0;
	}

	.text {
		position: absolute;
		overflow: hidden;
		width: 1px;
		height: 1px;
		display: inline-block;
	}

	&:hover {
		border: solid size.$line-width color.$line;
		background-color: color.$background;
	}

	&:active {
		border: solid size.$line-width color.$title-button-border;
		background-color: color.$line;
	}
}

.main-menu-button {
	display: none;
}

@mixin content-block {
	height: calc(100vh - 4.2em);
	overflow: auto;
	border-top: solid color.$title-border size.$line-width;
}

@mixin main-toolbar-with-content-block {
	height: calc(100vh - 7.2em);
	border-top: 0;
}

.main-content {
	padding-top: .001em;

	> .content-block {
		@include content-block;
	}

	.main-toolbar + .content-block {
		@include main-toolbar-with-content-block;
	}

	.article {
		padding: 0 size.$page-margin;
		max-width: size.$page-width;
		min-height: 20em;
	}
/*
	&.index {
		.main-toolbar,
		.content-block > * {
			margin-left: 0;
			margin-right: 0;
		}
	}
*/

	&.form {
	/*
		background-color: color.$form-bg;
	*/
	}
}

.main-toolbar {
	white-space: nowrap;
	border-bottom: solid size.$line-width color.$title-border;

	.content-block {
		background-color: color.$toolbar-bg;
		padding: 0 size.$page-margin;
		overflow: auto;
	}

	a, button {
		display: inline-block;
		white-space: nowrap;
		display: inline-block;
		margin-right: .4em;
		margin-bottom: .4em;
		background-color: transparent;
		border: 0;
		width: auto;
		border: solid size.$line-width color.$title-bg;
		border-radius: size.$corner-roundness;
		padding: .4em;

		.icon, .text {
			white-space: nowrap;
			vertical-align: middle
		}
	}

	a:link, a:visited {
		color: color.$foreground;

		.icon {
			opacity: 1;
		}

		&:hover {
			background-color: color.$background;
			border: solid size.$line-width color.$line;
		}

		&:active {
			background-color: color.$line;
			border: solid size.$line-width color.$title-border;
		}
	}

	a {
		color: color.$toolbar-disabled-link;
		text-decoration: none;

		&:hover .text, &:focus .text {
			text-decoration: none;
		}

		.icon {
			opacity: .5;
		}
	}
}

.main-action {
	margin: .5em 0;
	white-space: nowrap;

	a:link, a:visited {
		text-decoration: none;
	}

	.text {
		white-space: normal;
	}
}

.message {
	max-width: size.$page-width;
	padding: 0 1em;
}

@mixin main-header {
	width: size.$sidebar-width;
	max-width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	overflow: auto;
	border-right: solid color.$line size.$line-width;
        box-shadow: 0 0 .8em 0 #bfbfbf;
}

@mixin main-header-menu {
	margin-bottom: 1em;

	.title {
		display: block;
		font-weight: bold;
		margin: 0;
		color: color.$accent;
		padding: 0 1em;
		margin-bottom: .5em;
		width: auto;
	}

	ul {
		padding: 0;
		white-space: normal;
	}

	li {
		display: block;
		margin: 0;

		&.current-page {
			background-color: color.$selected-menu-bg;
		}
	}

	li:hover, li:active {
		background-color: color.$selected-menu-bg;
	}

	a {
		display: block;
	/*
		height: 100%;
	*/
		padding: .5em 1em;
	}

	a:hover .text, a:focus .text {
		text-decoration: none;
	}
}

/*
@ssupports (scroll-margin-top: 1px) {
*/

@mixin main-toolbar-with-content-block-wide {
	height: calc(100vh - 7.5em);
}

@mixin main-toolbar-detached {
	margin-top: .4em;
	padding: 0 size.$page-margin;
	border-bottom: 0;

	.content-block {
		border-radius: size.$corner-roundness;
		border: solid size.$line-width color.$title-border;
		padding: 0;
	}

	a {
		border: 0;
		border-radius: 0;
		margin: 0;
	}

	a[href]:hover, a[href]:active {
		border: 0;
	}
}


@mixin main-header-target {
	@include main-header;
	top: 0;
	left: -18em;

	.main-header-title {
		text-align: center;
		width: auto;
	}

	.main-account-link {
		display: none;
	}

	.main-brand {
		width: 100%;
	}

	.main-header-info {
		display: block;
	}

	.main-header-menu {
		@include main-header-menu;
	}

	+ .main-main .main-content {
		> .content-block {
			@include content-block;
		}

		.main-toolbar + .content-block {
			@include main-toolbar-with-content-block;
		}
	}

	+ .main-main .main-menu-button {
		display: inline-block;
	}

	@media (min-width: #{(size.$sidebar-width + 4em)}) {
		.main-header {
			width: size.$sidebar-width;
		}

		.close-menu-button {
			left: size.$sidebar-width;
		}

		.main-header-info {
			.account .details {
				width: 10em;
				max-width: calc(100% - 4.2em);
			}
		}
	}
}

#menu:target {
	@include main-header-target;
	left: 0;
	transition: left 300ms cubic-bezier(0.0, 0.0, 0.2, 1);

	.close-menu-button {
		display: block;
	}
}

#menu:not(:target) {
	@include main-header-target;
	transition: left 200ms cubic-bezier(0.4, 0.0, 1, 1);
}

@media (min-width: #{size.$wide-screen}) {
	#menu:not(:target) {
	}

	#menu:target,
	#menu:not(:target) {
		transition: none;
		top: 0;
		left: 0;
		box-shadow: none;

		.close-menu-button {
			display: none;
		}

		+ .main-main .main-menu-button {
			display: none;
		}
	}

	.main-header {
		@include main-header;
		position: fixed;
		z-index: 100;
		width: size.$sidebar-width;
		box-shadow: none;
	}

	.main-header-info {
		display: block;
		
		.account .details {
			width: 11em;
		}
	}

	.main-header-title {
		text-align: center;
	}

	.main-account-link {
		display: none;
	}

	.main-brand {
		width: 100%;
	}

	.main-header-menu {
		@include main-header-menu;
	}

	.main-body.index {
		.main-main {
			margin-left: size.$sidebar-width;
		}

		.main-content, 
		.main-toolbar {
			/*
			border-top-left-radius: size.$corner-roundness;
			*/
		}

	}

	.main-body .main-main {
	}
}

@media (min-width: #{(size.$page-width)}) {
	.main-content-header > .content-block,
	.main-content .article {
		margin-left: auto;
		margin-right: auto;
	}
}

/*
@media (min-width: #{(size.$page-width + .3em * 2 )}) {
*/
@media (min-width: #{(size.$page-width)}) {
	.main-body.index {
		.main-toolbar {
			margin: 0; 
			width: auto;
			@include main-toolbar-detached;
		}

		#menu:target + .main-main .main-content,
		#menu:not(:target) + .main-main .main-content,
		.main-content {
			> .content-block {
				border-top: 0;
			}

			.main-toolbar + .content-block {
				@include main-toolbar-with-content-block-wide;
			}

		}
	}

	#menu:target + .main-main .main-content,
	#menu:not(:target) + .main-main .main-content,
	.main-content {
		.main-toolbar + .content-block {
			@include main-toolbar-with-content-block-wide;
		}

		> .content-block {
			border-top: 0;
		}

	}

	.main-toolbar {
	/*
		max-width: size.$page-width - 2em;
	*/
		margin-right: auto;
		margin-left: auto;
		@include main-toolbar-detached;
	}

	.main-content-header {
		border-bottom: solid color.$title-border size.$line-width;
	}
}

@media (min-width: #{(size.$page-width + (size.$wide-page-margin * 2))}) {
	.main-toolbar {
		width: size.$page-width;
	}
}

@media (min-width: #{(size.$page-width + size.$sidebar-width + 2em + (size.$wide-page-margin * 2))}) {
	.main-toolbar,
	.main-content-header > .content-block,
	.main-content .article {
		margin-left: size.$content-only-left-margin;
	}
}

@media (min-width: #{(size.$page-width + size.$sidebar-width + (size.$wide-page-margin * 2))}) {
	.main-body.index {
		.main-toolbar {
			width: size.$page-width;
		}
	}

}

