/* _main.scss */

@use "../color";
@use "../size";
@use "../font";

$one-d-table-width: 3em + 12em + size.$text-width;

.main-content .article.has-item-full-content {
	padding: 0;
}

.item-full-content {
	background-color: color.$background;
	padding: size.$edge-padding 1em;
}

@mixin item-full-content-wide {
	background-color: color.$background;
	padding: size.$edge-padding 1em;
	margin: 1em auto;
	border-radius: size.$corner-roundness;
	border: solid size.$line-width color.$line;

	hr {
		display: none;
	}

	&:first-child {
		margin-top: 2em;
	}
}

.main-content .article.has-item-full-content {
	padding: 0 1em;
}

.item-full-content-wide {
	@include item-full-content-wide;
}

@media (min-width: #{(size.$wide-screen)}) {
	.main-content .article.has-item-full-content {
		padding: 0 size.$page-margin;
	}

	.item-full-content {
		@include item-full-content-wide;
	}

	.item-full-content-wide {
		@include item-full-content-wide;
	}

}

.main-content .main-status {
	.title {
		font-weight: bold;
	}

	> * {
		white-space: nowrap;
	}
}

.main-body {
	margin: 0;
	background-color: color.$background;
	color: color.$foreground;

	a:link, a:visited {
		color: color.$link;
	}
}

.main-body.form {
	background-color: color.$form-bg;
}

.main-body.index {
	.main-content-header > .content-block {
		margin: 0;
	}

	.main-content {
		> .content-block {
			height: calc(100vh - 10em);
			overflow: auto;
		}

		.main-toolbar + .content-block {
			height: calc(100vh - 12em);
		}

		.article {
			margin: 0;
		}
	}

	.main-content-header .title {

	}
}

.main-header-title {
	background-color: color.$header-bg;
	white-space: nowrap;
	padding: .76em 1em;
	width: size.$page-width;
	max-width: 100%;
	text-align: justify;
}

.main-header-title > * {
	display: inline-block;
	vertical-align: middle;
	width: 49%;
}

.main-account-link {
	text-align: right;

	.text {
		width: 1px;
		height: 1px;
		overflow: hidden;
	}
}

.main-brand {
	white-space: nowrap;

	.name,
	.logo {
		display: inline-block;
		vertical-align: middle;
	}

	.name {
		color: color.$accent;
		font-family: Oxanium, font.$font;
		font-size: 1.5em;
		font-weight: 600;
	}

	.logo {
		height: 2em;
	}
}

.main-header-info {
	display: none;
	background-color: color.$menu-bg;
	padding-top: size.$edge-padding;
	padding-bottom: 1em;

	.account {
		color: #ffffff;
		padding: 0 1em;
		margin-top: 1em;

		.main-action {
			text-align: right;
			margin: 0;
			width: 100%;

			a[href] {
				color: color.$header-fg;
			}

			.text {
				text-align: left;
			}
		}

		.info {
		}

		.avatar, 
		.details {
			display: inline-block;
			vertical-align: top;
			margin-top: .5em;
		}

		.avatar {
			width: 3.3em;
			height: 3.3em;
			margin-right: .5em;
			overflow: hidden;
			clip-path: circle(50%);

			img {
				display: block;
				height: 100%;
				margin: 0 auto;
			}
		}

		.details {
			white-space: normal;
			max-width: size.$sidebar-width - 6.5em;

			.name {
				font-weight: bold;
				color: color.$accent;
			}

			.position {
			}
		}

		.details > * {
			white-space: normal;
			margin: 0;
			margin-bottom: 1em;
			width: auto;
			max-width: none;
		}
	}
}

.main-header-menu {

	.title {
		font-weight: bold;
		margin: 0;
		color: color.$accent;
	}

	ul {
		margin: 0;
		list-style: none;
		padding: 0 1em;
		white-space: nowrap;
		overflow-x: auto;
	}

	li {
		display: inline-block;
		margin-top: .5em;
		margin-right: 1em;
	}

	a[href] {
		text-decoration: none;
		color: color.$menu-fg;
		
		.text {
		}
	}
}

.main-header {
	background-color: color.$menu-bg;
	color: color.$menu-fg;

}

.close-menu-button {
	display: none;
	position: fixed;
	top: 0;
        left: size.$sidebar-width; 
	border: 0;
	background-color: transparent;
	height: 100%;
	width: 100%;
	cursor: default;

	.text {
		width: 1px;
		height: 1px;
		overflow: hidden;
		display: inline-block;
	}
}

.main-main {
	/*
	background-color: color.$header-bg;
	*/
}

.main-content-header {
	color: color.$title-fg;
	background-color: color.$title-bg;
	overflow: hidden;

	> .content-block {
		padding: 1em size.$page-margin;
		max-width: size.$page-width;
		white-space: nowrap;
	}

	.nav-actions {
		vertical-align: middle;
		margin: 0;
		float: left;
	}

	.title {
		display: inline;
		margin: 0;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 1.2em;
		padding: .1em 0;
	}
}

.main-menu-button,
.main-back-link {
	margin-right: 1em;
	border: 0;
	background-color: transparent;
	padding: 0;
	color: color.$header-fg;
	text-decoration: none;
	display: inline-block;

	.text {
		position: absolute;
		overflow: hidden;
		width: 1px;
		height: 1px;
		display: inline-block;
	}

	&:hover, &:focus {
		color: color.$header-button;
	}
}

.main-menu-button {
	display: none;
}

@mixin content-block {
	height: calc(100vh - 4.2em);
	overflow: auto;
	border-top: solid color.$title-border size.$line-width;
}

@mixin main-toolbar-with-content-block {
	height: calc(100vh - 6.4em);
	border-top: 0;
}

.main-content {
	padding-top: .001em;
	background-color: color.$background;

	> .content-block {
		@include content-block;
	}

	.main-toolbar + .content-block {
		@include main-toolbar-with-content-block;
	}

	.article {
		padding: 0 size.$page-margin;
		max-width: size.$page-width;
		min-height: 20em;
	}
/*
	&.index {
		.main-toolbar,
		.content-block > * {
			margin-left: 0;
			margin-right: 0;
		}
	}
*/

	&.form {
		background-color: color.$form-bg;
	}
}

.main-toolbar {
	white-space: nowrap;
	overflow-x: auto;
	background-color: color.$toolbar-bg;
	padding: 0 size.$page-margin;
	border-bottom: solid size.$line-width color.$title-border;

	a, button {
		display: inline-block;
		white-space: nowrap;
		margin: .3em 0;
		display: inline-block;
		margin-right: 1em;
		background-color: transparent;
		border: 0;
		width: auto;
	}

	a[href] {
		color: color.$foreground;
		&:hover .text, &:focus .text {
			text-decoration: underline;
		}

		.icon {
			opacity: 1;
		}
	}

	a {
		color: color.$toolbar-disabled-link;
		text-decoration: none;

		&:hover .text, &:focus .text {
			text-decoration: none;
		}

		.text {
			white-space: nowrap;
		}

		.icon {
			opacity: .5;
		}
	}
}

.main-action {
	margin: .5em 0;
	white-space: nowrap;

	a, button {
		color: color.$foreground;
		border: 0;
		text-decoration: none;
	}

	.text {
		white-space: normal;
	}
}

.message {
	max-width: size.$page-width;
	padding: 0 1em;
}

@mixin main-header {
	width: size.$sidebar-width;
	max-width: 100%;
	height: 100%;
	position: fixed;
	overflow-y: auto;
	border-right: solid color.$line size.$line-width;
        box-shadow: 0 0 .8em 0 #bfbfbf;
}

@mixin main-header-menu {
	padding: 0 1em;

	ul {
		padding: 0;
		white-space: normal;
	}

	li {
		display: block;
		margin: 1em 0;
	}
}

//@ssupports (scroll-margin-top: 1px) {

@mixin main-toolbar-with-content-block-wide {
	height: calc(100vh - 6.9em);
}

@mixin main-header-target {
	@include main-header;
	top: 0;
	left: 200%;

	.main-header-title {
		text-align: center;
		width: auto;
	}

	.main-account-link {
		display: none;
	}

	.main-brand {
		width: 100%;
	}

	.main-header-info {
		display: block;
	}

	.main-header-menu {
		@include main-header-menu;
	}

	+ .main-main .main-content {
		> .content-block {
			@include content-block;
		}

		.main-toolbar + .content-block {
			@include main-toolbar-with-content-block;
		}
	}

	+ .main-main .main-menu-button {
		display: inline-block;
	}

	@media (min-width: #{(size.$sidebar-width + 4em)}) {
		.main-header {
			width: size.$sidebar-width;
		}

		.close-menu-button {
			left: size.$sidebar-width;
		}

		.main-header-info {
			.account .details {
				width: 11em;
			}
		}
	}
}

#menu:target {
	@include main-header-target;
	left: 0;

	.close-menu-button {
		display: block;
	}
}

#menu:not(:target) {
	@include main-header-target;
}

@media (min-width: #{size.$wide-screen}) {
	#menu:not(:target) {
	}

	#menu:target,
	#menu:not(:target) {
		top: 0;
		left: 0;
		box-shadow: none;

		.close-menu-button {
			display: none;
		}

		+ .main-main .main-menu-button {
			display: none;
		}
	}

	.main-header {
		@include main-header;
		position: fixed;
		width: size.$sidebar-width;
		box-shadow: none;
	}

	.main-header-info {
		display: block;
		
		.account .details {
			width: 11em;
		}
	}

	.main-header-title {
		text-align: center;
	}

	.main-account-link {
		display: none;
	}

	.main-brand {
		width: 100%;
	}

	.main-header-menu {
		@include main-header-menu;
	}

	.main-body.index {
		.main-main {
			margin-left: size.$sidebar-width;
		}

		.main-content, 
		.main-toolbar {
			/*
			border-top-left-radius: size.$corner-roundness;
			*/
		}

	}

	.main-body .main-main {
	}
}

@media (min-width: #{(size.$page-width + .3em * 2 )}) {
	.main-body.index {
		.main-toolbar {
			margin: 0 .3em;
			margin-top: .3em;
			border-radius: size.$corner-roundness;
			border: solid size.$line-width color.$title-border;
		}

		#menu:target + .main-main .main-content,
		#menu:not(:target) + .main-main .main-content,
		.main-content {
			> .content-block {
				border-top: 0;
			}

			.main-toolbar + .content-block {
				@include main-toolbar-with-content-block-wide;
			}

		}
	}

	#menu:target + .main-main .main-content,
	#menu:not(:target) + .main-main .main-content,
	.main-content {
		.main-toolbar + .content-block {
			@include main-toolbar-with-content-block-wide;
		}

		> .content-block {
			border-top: 0;
		}

	}

	.main-toolbar {
		max-width: size.$page-width - 2em;
		margin-top: .3em;
		border-radius: size.$corner-roundness;
		border: solid size.$line-width color.$title-border;
		margin-right: auto;
		margin-left: auto;
	}

	.main-content-header {
		border-bottom: solid color.$title-border size.$line-width;
	}
}

@media (min-width: #{size.$page-width}) {
	.main-content-header > .content-block,
	.main-content .article {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: #{(size.$page-width + (size.$content-only-left-margin * 2 + 2em))}) {
	.main-toolbar {
		margin-left: 1em + size.$content-only-left-margin;
	}

	.main-content-header > .content-block,
	.main-content .article {
		margin-left: size.$content-only-left-margin;
	}
}

@media (min-width: #{(size.$page-width + size.$sidebar-width - 2em)}) {

}

