/* _main.scss */

.main-body {
	margin: 0;

	&.index {
		.main-content-header .content-block,
		.main-content .content-block {
			margin: unset;
		}
	}
}

#menu.main-header {
	background-color: var(--color-4);
	padding-bottom: 1rem;
	color: #ffffff;
	border-radius: 0 1rem 1rem 0; 
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	height: 100vh;
	z-index: 1;
	width: var(--sidebar-width);
	visibility: hidden;

	&:target {
		visibility: visible;
	}

	.close-menu-button {
		position: fixed;
		top: 0;
		left: var(--sidebar-width);
		border: 0;
		background-color: transparent;
		height: 100vh;
		width: calc(100vw - var(--sidebar-width));

		.text {
			width: 1px;
			height: 1px;
			overflow: hidden;
			display: inline-block;
		}
	}

	.main-info {
		background-repeat: no-repeat;
		background-size: cover;

		.brand {
			text-decoration: none;
			color: var(--color-2);
			padding: 0 1rem;
			margin: .75rem 0;
			display: block;
			text-align: center;

			.name {
				display: inline-block;
				font-family: Oxanium;
				font-size: 1.5rem;
				font-weight: 600;
				vertical-align: middle;
			}

			.logo {
				vertical-align: middle;
				display: inline-block;
				height: 2rem;

				img {
					height: 100%;
					display: block;
				}

			}
		}

		.account {
			color: #ffffff;
			padding: 0 1rem;

			.main-actions {
				text-align: right;
			}

			.info {
				display: flex;
				gap: 1rem;

				.avatar {
					flex: 0 0 auto;
					width: 3.5rem;
					height: 3.5rem;
					clip-path: circle(50%);
					margin: 1rem 0;

					svg, img {
						display: block;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				.details {
					margin: 0;

					.name {
						position: absolute;
						width: 1px;
						height: 1px;
						display: inline-block;
						overflow: hidden;
					}

					.value {
						margin: 1rem 0;
					}
				}
			}
		}
	}

	.main-menu {
		padding: 0 1rem;

		ul {
			list-style-type: none;
			padding: 0;

			li {
				a {
					white-space: nowrap;
					.icon, .text {
						display: inline-block;
						vertical-align: middle;
					}

					.text {
						white-space: normal;
					}
				}
			}
		}

		li {
			margin: 1rem 0;

			a {
				text-decoration: none;
				color: inherit;
				width: max-content;
				display: flex;
				align-items: center;

				&:hover, &:focus {
					text-decoration: underline;
				}

				.icon {
					margin-right: 1rem;
					vertical-align: text-top;
				}
			}
		}
	}
}

.main {
	background-color: var(--color-4);
}

.main-content-header {
	background-color: var(--color-4);
	color: var(--bg-color);

	.nav-actions {
		width: max-content;
		display: inline-block;
		vertical-align: middle;

		.back-link {
			margin: 0;
			margin-right: 1.5rem;
			display: block;
			color: inherit;
			display: inline-block;
			height: 100%;
			text-decoration: none;

			.text {
				position: absolute;
				overflow: hidden;
				width: 1px;
				height: 1px;
				display: inline-block;
			}

			&:hover, &:focus {
				color: var(--color-1);
			}
		}

		.menu-button {
			margin-right: 1.5rem;
			border: 0;
			background-color: transparent;
			padding: 0;
			color: inherit;
			text-decoration: none;
			display: inline-block;
			height: 100%;

			.text {
				position: absolute;
				overflow: hidden;
				width: 1px;
				height: 1px;
				display: inline-block;
			}

			&:hover, &:focus {
				color: var(--color-1);
			}

			.menu-toggler {
				appearance: none;
				position: absolute;
				height: 1.5rem;
				width: 1.5rem;
			}
		}
	}

	.content-block {
		padding: 1rem 0;
		max-width: var(--page-width);
		margin: 0 auto;
		white-space: nowrap;
		padding-left: var(--page-padding);  
		padding-right: var(--page-padding);  
	}

	.title {
		margin: 0;
		display: inline-block;
		vertical-align: middle;
		width: 80%;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 1.2rem;
	}
}

.main-content {
	background-color: var(--bg-color);
	padding-top: .01rem;

	.content-block {
		height: calc(100vh - var(--header-height));
		overflow: auto;
	}

	.article {
		padding: .01rem var(--page-padding);
		max-width: var(--page-width);
		margin: 0 auto;
		padding-top: .01rem;
	}

	&.index {
		.main-actions, .article {
			margin: unset;
		}
	}

	.main-actions {
		background-color: var(--base-color-0);;
		padding: 0 var(--page-padding);;
		border-bottom: solid .05rem var(--line-color);
		max-width: var(--page-width);
		margin: 0 auto;

		~ .content-block {
			height: calc(100vh - var(--header-height) - 2.2rem);
		}
	}

	&.form {
		background-color: var(--base-color-0);
	}

	.content-header.with-cover-photo {
		.text {
			color: var(--bg-color);
		}
	}

	.content-title {
		font-size: 1.4rem;
	}

	.main-content-title {
		font-size: 1.2rem;
	}

	&.index {
		.main-action,
		.main-actions {
		}
	}

	.list .item {
		border-bottom: solid .1rem #aaaaaa;
		padding: 1rem 0;

		&:first-of-type {
			padding-top: 0;
		}

		&:last-of-type {
			border-bottom: 0;
		}
	}
}

.main-actions  {
	&.toolbar {
		white-space: nowrap;
		overflow: auto;
		padding: unset;
		background-color: var(--base-color-1);
		padding: 0 var(--page-padding);
		border-bottom: solid .05rem var(--line-color);
		max-width: calc(var(--page-width) - (var(--page-padding) * 2));
	}

	&.of-item {
		padding: unset;
		background-color: var(--base-color-0);;
		padding: 0 var(--page-padding);;
		border-bottom: solid .05rem var(--line-color);
	}

	a, button {
		display: inline-block;
		white-space: nowrap;
		margin: .3rem 0;

		.icon, .text {
			vertical-align: middle;
		}

		.text {
			white-space: normal;
		}
	}

	:last-child {
		margin-right: unset;
	}

	a:not([href]) {
		color: var(--base-color-3);	

		&:hover .text, &:focus .text {
			text-decoration: none;
		}
	}

	a, button {
		display: inline-block;
		margin-right: 1rem;
		background-color: transparent;
		border: 0;
		text-decoration: none;
		color: inherit;
		width: max-content;

		.icon {
			padding-right: .5rem;
			vertical-align: middle;
		}

		&:hover .text, &:focus .text {
			text-decoration: underline;
		}
	}
}

.main-action  {
	display: inline-block;
	margin: .5rem 0;
	margin-right: 1rem;

	a, button {
		background-color: transparent;
		border: 0;
		display: flex;
		align-items: center;
		text-decoration: none;
		color: inherit;
		width: max-content;

		&:hover, &:focus {
			text-decoration: underline;
		}

		.icon {
			margin-right: .5rem;
		}
	}
}

@media (min-width: 48rem) {
	.main-body {
		&.index {
			display: flex;
			flex-wrap: nowrap;

			.main-content-header {
				.nav-actions {
					visibility: hidden;
					width: 0;
				}
			}
		}
	}

	#menu.main-header {
		border-right: 0;
		border-radius: 0;
		flex: 1 0 var(--sidebar-width);
		width: unset;
		position: unset;
		overflow: unset;
		visibility: visible;

		.content-block {
			float: right;
			width: var(--sidebar-width);	
			max-width: var(--sidebar-width);	
			height: 100vh;
			overflow: auto;
		}
		
		.close-menu-button {
			visibility: hidden;
		}
	}

	.main-content {
		.main-actions {
			~ .content-block {
				height: calc(100vh - var(--header-height) - 2.85rem);
			}	
		}

		.content-block {
			height: calc(100vh - var(--header-height));
		}

		&.index {
			border-top-left-radius: 1rem;

			.main-actions.toolbar {
				border-radius: 1rem;
				margin: .3rem;
				border: solid .05rem var(--line-color);
			}
		}
	}
	
	.main-actions {
		&.toolbar {
			border-radius: 1rem;
			margin: .3rem;
			border: solid .05rem var(--line-color);
			margin: .3rem auto;
		}

		&.of-item {
			border-radius: 1rem;
			margin: .3rem;
			border: solid .05rem var(--line-color);
		}
	}

	.main {
		flex: 1 1 var(--page-width);
		min-width: 0;
	}
}
