/* _multi-step-form.scss */

@use "../size";
@use "../color";
@use "../font";

.multi-step-form {
	.qr-code {
		height: 8cm;
		max-height: 100vh;

		img {
			border: .05em solid #000000;
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}
}

.multi-step-form {
    background-color: color.$form-bg;
}

.multi-step-form a[href] {
	color: color.$link;
}

.multi-step-form .org-name {
    background-color: color.$header-bg;
    margin-top: 0;
    text-align: center;
    width: auto;
    padding: 1em 0;

    .name {
        font-family: MuseoModerno, font.$font;
        font-weight: 600;
    }
}

.multi-step-form .title.of-form {
    width: auto;
    font-size: 1.5em;
    text-align: center;
}

.multi-step-form .sections {
	padding: 0 size.$page-margin;
}

.multi-step-form .section {
	box-shadow: color.$content-shadow;
	max-width: size.$text-width;
	padding: size.$edge-padding 1em;
	margin: 1em auto;
	background-color: color.$background;
	border-radius: size.$corner-roundness;
	border: solid size.$line-width color.$line;
	overflow: hidden;

	.title:first-child, &.intro .title {
		font-size: 1.2em;
		width: auto;
	}

	&:target {
		scroll-margin-top: 1em;
	}
}
.multi-step-form .intro.section {
	padding: 0;
	max-width: size.$text-width + 2em;

	.banner {
		background-color: #eeeef1;
		padding-top: 25%;
		position: relative;
		overflow: hidden;
		border-bottom: solid size.$line-width color.$line;

		> .content-block {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
		}

		img {
			width: 100%;
			display: block;
			height: min(100%);
			object-fit: cover;
		}
	}

	> .content-block {
		padding: size.$edge-padding 1em;
	}
}

.multi-step-form .main.section,
.multi-step-form .intro.section {
/*
	padding: 1em;
	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
*/
}

.multi-step-form .section.content {
    white-space: nowrap;

    .title, .status {
        white-space: normal;
        display: inline-block;
        max-width: 49%;
        width: 100%;
	vertical-align: middle;
    }

    .status {
        text-align: right;
    }
}
