/* _multi-step-form.scss */

@use "../size";
@use "../color";
@use "../font";
@use "sass:string";

.form-preview-back-link {
	position: fixed;
	width: 100vw;
	margin: .9em 0;
}

.form-preview-back-link .content-block {
	max-width: size.$page-width;
	margin: 0 auto;
	padding: 0 4%;
}

@media (min-width: #{size.$page-width - 3em}) {
	.form-preview-back-link {
		padding: 0;
	}
}

.form-preview-back-link .back-link {
	background-color: rgb(255, 255, 255, 0.9);
	cursor: default;
	color: color.$header-fg;
	text-decoration: none;
	display: inline-block;
	padding: .55em;
	//border: solid size.$line-width color.$title-bg;
	border-radius: size.$corner-roundness;
	line-height: 1;

	.icon {
		margin: 0;
	}

	.icon + .text {
		position: absolute;
		top: -200%;
		overflow: hidden;
		width: 1px;
		height: 1px;
		display: inline-block;
	}

	&:hover {
		//border: solid size.$line-width color.$line;
		background-color: color.$hovered-button-bg;
	}

	&:active {
		//border: solid size.$line-width color.$title-button-border;
		background-color: color.$pressed-button-bg;
	}
}

.multi-step-form {
	.qr-code {
		height: 8cm;
		max-height: 100vh;

		img {
			border: size.$line-width solid color.$line;
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}
}

.multi-step-form {
    background-color: color.$form-bg;
}

.multi-step-form a[href] {
	color: color.$link;
}

.multi-step-form .org-name {
    background-color: color.$header-bg;
    margin-top: 0;
    text-align: center;
    width: auto;
    padding: 1em 0;

    .name {
        font-family: MuseoModerno, font.$font;
        font-weight: 600;
    }
}

.multi-step-form .title.of-form {
    width: auto;
    font-size: 1.5em;
    text-align: center;
}

.multi-step-form .sections {
	padding: 0 size.$page-margin;
}

.multi-step-form .section {
	box-shadow: color.$content-shadow;
	max-width: size.$text-width;
	padding: size.$edge-padding 1em;
	margin: 1em auto;
	background-color: color.$background;
	border-radius: size.$corner-roundness;
	border: solid size.$line-width color.$line;
	overflow: hidden;

	.title:first-child, &.intro .title {
		font-size: 1.2em;
		width: auto;
	}

	&:target {
		scroll-margin-top: 1em;
	}
}
.multi-step-form .intro.section {
	padding: 0;
	max-width: size.$text-width + 2em;

	.banner {
		background-color: #eeeef1;
		padding-top: 25%;
		position: relative;
		overflow: hidden;
		border-bottom: solid size.$line-width color.$line;

		> .content-block {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
		}

		img {
			width: 100%;
			display: block;
			height: string.unquote("min(100%)");
			object-fit: cover;
		}
	}

	> .content-block {
		padding: size.$edge-padding 1em;
	}
}

.multi-step-form .main.section,
.multi-step-form .intro.section {
/*
	padding: 1em;
	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
*/
}

.multi-step-form .section.content {
    white-space: nowrap;

    .title, .status {
        white-space: normal;
        display: inline-block;
        max-width: 49%;
        width: 100%;
	vertical-align: middle;
    }

    .status {
        text-align: right;
    }
}
