/* _table.scss */

@use "../color";
@use "../size";

.table-block {
	margin: 1em;
	margin-top: 0;
}

table {
	border-collapse: collapse;
    width: 100%;
    display: block;

    a {
        color: color.$link;
    }

    thead {
        display: block;
        width: 1px;
        height: 1px;
        overflow: hidden;
        opacity: 0;
    }

    tbody {
        width: 100%;
        display: block;

        th {
            display: block;
            padding: .25em 0;
        }
    }

    th {
        text-align: left;
        hyphens: auto;
    }

    td {
        display: list-item;
        list-style: none;
        padding: .25em 0;
        hyphens: auto;

        pre, ul {
            margin: 0;
        }

        ul {
            padding-left: 0;
            list-style: none;
        }
    }

    tr {
        display: block;
	margin-bottom: .5em;
        padding-bottom: .5em;
    }

    thead + tbody tr {
        border-bottom: solid size.$line-width color.$table-divider;
        margin-bottom: 1em;
        padding-bottom: 1em;
    }

	thead th {
		font-weight: normal;
	}

    tbody tr:first-child {
        margin-top: 1em;
    }
}

@mixin table-wide {
	table-layout: fixed;
        display: table;

        tbody {
            width: auto;
            display: table-row-group;

            th {
                display: table-cell;
            }
        }


        thead {
            display: table-header-group;
            width: auto;
            height: auto;
            overflow: visible;
            text-align: left;
            opacity: 1;

            tr {
		border-bottom: solid size.$line-width color.$table-header-divider;
            }
        }

        td, th {
            display: table-cell;
            padding: 1em 1em 1em 0;
            vertical-align: top;
        }

        tr {
            display: table-row;
            margin-bottom: unset;
            padding-bottom: unset;
	}
}

@media (min-width: 31em) {
	table.table-2 {
		@include table-wide;
	}
}

@media (min-width: 68em) {
	table.table-4 {
		@include table-wide;
	}
}

@media (min-width: 70em) {
	table.table-6 {
		@include table-wide;
	}
}

