/* _table.scss */

@use "../color";
@use "../size";

.table-block {
	margin: 1em;
	margin-top: 0;
}

table {
	border-collapse: collapse;
	width: 100%;
	display: block;

	.edit-link {
		font-weight: normal;
	}

	a[href] {
		color: color.$link;
	}
}

thead {
	display: block;
	width: 1px;
	height: 1px;
	overflow: hidden;
	opacity: 0;
}

tbody {
	width: 100%;
	display: block;

	th {
		display: block;
		padding: .25em 0;
	}
}

th {
	text-align: left;
	hyphens: auto;
}

td {
	display: list-item;
	list-style: none;
	padding: .25em 0;
	hyphens: auto;

	pre, ul {
		margin: 0;
	}

	ul {
		padding-left: 0;
		list-style: none;
	}
}

tr {
	display: block;
	margin-bottom: .5em;
	padding-bottom: .5em;
}

thead + tbody tr {
	border-bottom: solid size.$line-width color.$line;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

thead th {
	font-weight: bold;
	color: color.$table-header-fg;
}

tbody tr:first-child {
	margin-top: 1em;
}

table.articles {

	tbody tr {
		background-color: color.$background;
		border-radius: size.$corner-roundness;
		border: solid color.$line size.$line-width;
		padding: 1em;
		overflow: hidden;
		box-shadow: color.$content-shadow;
	}

/*
	tr td > :first-child {
		padding-top: 0;
	}

	tr td > :last-child {
		padding-bottom: 0;
	}
*/
}

@mixin table-wide {
	table-layout: fixed;
	display: table;

	tbody {
		width: auto;
		display: table-row-group;
		overflow: hidden;

		th {
			display: table-cell;
		}
	}


	thead {
		display: table-header-group;
		width: auto;
		height: auto;
		overflow: visible;
		text-align: left;
		opacity: 1;

		tr {
			border-bottom: solid size.$line-width color.$line;
		}
	}

	td, th {
		display: table-cell;
		padding: 1em 0 1em 1em;
		vertical-align: top;
	}

	tr {
		display: table-row;
		margin-bottom: unset;
		padding-bottom: unset;
	
		:first-child {
			padding-left: 0;
		}
	}
}

@mixin articles-wide {
	border-collapse: separate;
	overflow: hidden;
	border-spacing: 0 0;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		box-shadow: color.$content-shadow;
		left: 0;
		right: 0;
		bottom: 0;
		top: 2.5em;
		border-radius: size.$corner-roundness;
		z-index: -1;
	}

	tbody tr {
		background-color: transparent;
	}

	th {
		padding-top: .5em;
		padding-bottom: .5em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis
	}

	th:first-child {
		padding-left: 1em;
	}

	tbody :first-child td {
		border-top: solid size.$line-width color.$line;
	}

	td {
		border-bottom: solid size.$line-width color.$line;
		background-color: color.$background;
		overflow: hidden;
	}

	tbody :first-child td:first-child {
		border-top-left-radius: size.$corner-roundness;
	}

	td:first-child {
		border-left: solid size.$line-width color.$line;
		padding-left: 1em;
	}

	tbody :first-child td.last-row-cell {
		border-top-right-radius: size.$corner-roundness;
	}

	tbody .last-row td:first-child {
		border-bottom-left-radius: size.$corner-roundness;
	}

	tbody .last-row td.last-row-cell {
		border-bottom-right-radius: size.$corner-roundness;
	}

	td.last-row-cell {
		border-right: solid size.$line-width color.$line;
	}
}

@media (min-width: 31em) {
	table.table-2 {
		@include table-wide;
	}

	table.articles.table-2 {
		@include articles-wide;
	}
}

@media (min-width: 57em) {
	table.table-3 {
		@include table-wide;
	}

	table.articles.table-3 {
		@include articles-wide;
	}
}

@media (min-width: 68em) {
	table.table-4 {
		@include table-wide;
	}

	table.articles.table-4 {
		@include articles-wide;
	}
}

@media (min-width: 70em) {
	table.table-6 {
		@include table-wide;
	}

	table.articles.table-6 {
		@include articles-wide;
	}
}

