/* _window.scss */

@use "../size";
@use "../color";
@use "sass:math";

$window-width: size.$text-width + .94em * 2;

.window {
	position: absolute;
	top: 0;
	left: 0;
	border: solid size.$line-width color.$window-border;
	border-radius: size.$corner-roundness;
	overflow: hidden;
	width: 96%;
	margin-top: 1em;
	margin-left: 2%;
	box-shadow: color.$window-shadow;
	z-index: 50;

	&.form .window-content {
		background-color: color.$form-bg;
	}
}

.window-title {
	background-color: color.$view-bg;
	color: color.$title-fg;
	padding: .94em;
	box-shadow: color.$title-shadow;

	.text {
		font-weight: bold;
	}
}

.window-content {
	padding: size.$edge-padding .94em;
	background-color: color.$background;
	color: color.$foreground;
}

.window-content .form-submit,
.window-content .submit-button,
.window-content .button-block,
.window-content .submit-buttons {
	margin-bottom: .94em;

	button {
		margin-bottom: 0;
	}
}

@media (min-width: $window-width) {
	.window {
		top: 3em;
		left: 50%;
		margin-right: 0;
		margin-left: math.div($window-width, 2) * -1;
		margin-top: 0;
		width: $window-width;
	}
}
