/* _window.scss */

@use "../size";
@use "../color";
@use "sass:math";

$window-width: size.$text-width + 2em;

.window {
	position: absolute;
	top: 0;
	left: 0;
	border: solid size.$line-width color.$window-border;
	border-top-left-radius: .6em;
	border-top-right-radius: .6em;
	overflow: hidden;
	width: 100%;
	box-shadow: 0 0 .8em 0 #bfbfbf;

	&.form .window-content {
		background-color: color.$form-bg;
	}
}

.window-title {
	border-bottom: solid size.$line-width color.$title-border;
	background-color: color.$title-bg;
	color: color.$title-fg;
	padding: .7em size.$page-margin;

	.text {
		font-size: 1.2em;
	}
}

.window-content {
	padding: size.$edge-padding size.$page-margin;
	background-color: color.$background;
	color: color.$foreground;
}

@media (min-width: $window-width) {
	.window {
		top: 4em;
		left: 50%;
		margin-right: 0;
		margin-left: math.div($window-width, 2) * -1;
		width: $window-width;
	}
}
