/* _window.scss */

@use "../size";
@use "../color";
@use "sass:math";

$window-width: size.$text-width + 1em;

.window {
	position: absolute;
	top: 0;
	left: 0;
	border: solid size.$line-width color.$window-border;
	border-top-left-radius: .6em;
	border-top-right-radius: .6em;
	overflow: hidden;
	width: 96%;
	margin-top: 1em;
	margin-left: 2%;
	box-shadow: 0 0 .8em 0 #bfbfbf;

	&.form .window-content {
		background-color: color.$form-bg;
	}
}

.window-title {
	border-bottom: solid size.$line-width color.$title-border;
	background-color: color.$title-bg;
	color: color.$title-fg;
	padding: .9em .5em;

	.text {
	}
}

.window-content {
	padding: size.$edge-padding .5em;
	background-color: color.$background;
	color: color.$foreground;
}

.window-content .form-submit,
.window-content .submit-button,
.window-content .button-block,
.window-content .submit-buttons {
	margin-bottom: .5em;

	button {
		margin-bottom: 0;
	}
}

@media (min-width: $window-width) {
	.window {
		top: 4em;
		left: 50%;
		margin-right: 0;
		margin-left: math.div($window-width, 2) * -1;
		margin-top: 0;
		width: $window-width;
	}
}
