/* _window.scss */

@use "../size";
@use "../color";
@use "sass:math";

$window-width: size.$text-width + .94em * 2;

@mixin visible-window {
	transform: scale(1);
	opacity: 1;
	visibility: visible;
}

@mixin hidden-window {
	transform: scale(0.9);
	opacity: 0;
	visibility: hidden;
}

.window {
	position: fixed;
	top: 0;
	left: 0;
	border: solid size.$line-width color.$window-border;
	border-radius: 1.3em;
	overflow: hidden;
	width: 96%;
	margin-top: 1em;
	margin-left: 2%;
	box-shadow: color.$window-shadow;
	z-index: 90;
	@include hidden-window;

	&.form .window-content {
		background-color: color.$form-bg;
	}
}

@keyframes hide-window {
	0% {
		@include visible-window;
	}

	100% {
		@include hidden-window;
	}
}

@keyframes show-window {
	0% {
		@include hidden-window;
	}

	50% {
		@include visible-window;
		transform: scale(1.01);
	}

	100% {
		transform: scale(1);
	}
}

.window.is-always-visible {
	@include visible-window;
}

.window.is-visible {
	@include visible-window;
	animation: show-window .3s;
}

.window.is-hidden {
	@include hidden-window;
	animation: hide-window .15s;
}

@media (min-width: #{size.$wide-screen}) {
	.window {
		z-index: 101;
	}
}

.window-title {
	background-color: color.$view-bg;
	color: color.$title-fg;
	padding: .94em;
	box-shadow: color.$title-shadow;

	.text {
		display: block;
		white-space: nowrap;
		font-weight: bold;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.window-content {
	padding: size.$edge-padding .94em;
	background-color: color.$background;
	color: color.$foreground;

    form > p:first-of-type,
    > p:first-of-type {
        margin-top: 0;
    }

    form > p.form-submit:first-of-type,
    form > p.button-block:first-of-type {
        margin-top: 1em;
    }
}

.window-content .form-submit,
.window-content .submit-button,
.window-content .button-block,
.window-content .submit-buttons {
	margin-bottom: .94em;

	button {
		margin-bottom: 0;
	}
}

@media (min-width: $window-width) {
	.window {
		top: 3em;
		left: 50%;
		margin-right: 0;
		margin-left: math.div($window-width, 2) * -1;
		margin-top: 0;
		width: $window-width;
	}
}
