/* _account-home.scss */

@use "../size";
@use "../color";
@use "sass:math";

$featbox-width: size.$text-width + 2em;
$dot-color: #dddddd;
$selected-dot-color: #ffffff;
$featbox-height: 18em;
$featbox-y-margin: 2.3em;

@mixin drift($slide2, $slide3) {
	0%, 22%   { transform: translateX(0); }
	33%, 55%  { transform: translateX($slide2); }
	66%, 88%  { transform: translateX($slide3); }
	99%, 100% { transform: translateX(0); }
}

@mixin featured-dot-drift1 {
	0%, 32.9% { background-color: $selected-dot-color; }
	33%, 98.9% { background-color: $dot-color; }
	99%, 100% { background-color: $selected-dot-color; }
}

@mixin featured-dot-drift2 {
	33%, 65.9% { background-color: $selected-dot-color; }
	0%, 32.9%, 66%, 100% { background-color: $dot-color; }
}

@mixin featured-dot-drift3 {
	66%, 98.9% { background-color: $selected-dot-color; }
	0%, 65.9%, 99%, 100% { background-color: $dot-color; }
}

/*
@keyframes drift1 {
	@include drift(-100%, -200%);
	//@include drift(-1 * $featbox-width, -2 * $featbox-width);
}

@keyframes drift2 {
	@include drift(-100%, 100%);
	//@include drift(-1 * $featbox-width, $featbox-width);
}

@keyframes drift3 {
	@include drift(200%, 100%);
	//@include drift(2 * $featbox-width, $featbox-width);
}

@keyframes featured1-dot1-drift {
	@include featured-dot-drift1;
}

@keyframes featured1-dot2-drift {
	@include featured-dot-drift2;
}

@keyframes featured1-dot3-drift {
	@include featured-dot-drift3;
}

@keyframes featured2-dot1-drift {
	@include featured-dot-drift3;
}

@keyframes featured2-dot2-drift {
	@include featured-dot-drift1;
}

@keyframes featured2-dot3-drift {
	@include featured-dot-drift2;
}

@keyframes featured3-dot1-drift {
	@include featured-dot-drift2;
}

@keyframes featured3-dot2-drift {
	@include featured-dot-drift3;
}

@keyframes featured3-dot3-drift {
	@include featured-dot-drift1;
}
*/

.main-content.home .featbox {
	position: relative;
	width: 100%;
	max-width: 100%;
	border-radius: .4em;
	overflow: hidden;
	border: solid size.$line-width color.$line;
	margin: 1em auto;
	height: $featbox-height;

	.feat-controller {
		position: absolute;
		top: -1em;
	}


	.content-nav-links > a {
		display: inline-block;
		// background-color: rgba(255, 255, 255, .3);
		background-color: $dot-color;
		height: .5em;
		width: .5em;
		margin-left: .5em;
		border: solid size.$line-width #888888;
		border-radius: 100em;

		&:first-child {
			margin-left: 0;
		}
	}

	.content-nav-links .featured1-dot {
		animation: featured1-dot1-drift 12s infinite;
		background-color: $selected-dot-color; 
	}

	.content-nav-links .featured2-dot {
		animation: featured1-dot2-drift 12s infinite;
	}

	.content-nav-links .featured3-dot {
		animation: featured1-dot3-drift 12s infinite;
	}

	> .content-block {
		position: relative;
		white-space: nowrap;
		height: 100%;
		left: 0;
		transition: left 0.5s ease;

		.featbox-contents {
			height: 100%;
			animation: drift1 12s infinite ease-in-out;
		}
	}

	#featured-1:target {
		~ .content-nav-links .featured1-dot {
			background-color: $selected-dot-color; 
			animation: featured1-dot1-drift 12s infinite;
		}

		~ .content-nav-links .featured2-dot {
			animation: featured1-dot2-drift 12s infinite;
			background-color: $dot-color; 
		}

		~ .content-nav-links .featured3-dot {
			animation: featured1-dot3-drift 12s infinite;
			background-color: $dot-color; 
		}

		~ .content-block {
			left: 0;

			.featbox-contents {
				animation: drift1 12s infinite ease-in-out;
			}
		}
	}

	#featured-2:target {
		~ .content-nav-links .featured1-dot {
			animation: featured2-dot1-drift 12s infinite;
			background-color: $dot-color; 
		}

		~ .content-nav-links .featured2-dot {
			background-color: $selected-dot-color; 
			animation: featured2-dot2-drift 12s infinite;
		}

		~ .content-nav-links .featured3-dot {
			animation: featured2-dot3-drift 12s infinite;
			background-color: $dot-color; 
		}

		~ .content-block {
			left: -100%;

			.featbox-contents {
				animation: drift2 12s infinite ease-in-out;
			}
		}
	}

	#featured-3:target {
		~ .content-nav-links .featured1-dot {
			animation: featured3-dot1-drift 12s infinite;
			background-color: $dot-color; 
		}

		~ .content-nav-links .featured2-dot {
			animation: featured3-dot2-drift 12s infinite;
			background-color: $dot-color; 
		}

		~ .content-nav-links .featured3-dot {
			animation: featured3-dot3-drift 12s infinite;
			background-color: $selected-dot-color; 
		}

		~ .content-block {
			left: -200%;

			.featbox-contents {
				animation: drift3 12s infinite ease-in-out;
			}
		}
	}
	
	.content-nav-links {
		position: absolute;
		background-color: rgba(44, 44, 49, .1);
		width: 5em;
		height: 1.5em;
		bottom: .5em;
		right: .5em;
		text-align: center;
		border-radius: 100em;
	}

	.content-siblings-links .next {
		right: 0;
	}

	.content-siblings-links .prev {
		left: 0;
	}

	.content-siblings-links > * {
		position: absolute;
		top: 0;
		margin: 0;
		padding: 0;
		width: 2em;
		height: 100%;

		a {
			display: inline-block;
			width: 100%;
			height: 100%;
		}
	}
	
	.featcontent {
		position: relative;
		height: 100%;
		width: 100%;
		vertical-align: top;
		display: inline-block;
		overflow: hidden;

		> .content-block {
			padding: $featbox-y-margin 4%;
			height: $featbox-height - ($featbox-y-margin * 2);
		}

		.visual, .info {
			vertical-align: top;
			display: inline-block;
		}

		.visual {
			text-align: center;
			height: 12.5em;
			width: 40%;
	
			img {
				display: inline-block;
				width: 100%;
			}
		}

		.info {
			width: 60%;
		}

		.title, .subtitle {
			white-space: wrap;
			margin: 0;
		}

		.subtitle {
			font-size: 1.2em;
		}

		.title {
			font-weight: bold;
			font-size: 1.4em;
		}
	}

	.featcontent .welcome {
		text-align: center;
		color: color.$background;
		white-space: wrap;

		.title {
			font-weight: bold;
			font-size: 1.6em;
			margin-left: auto;
			margin-right: auto;
		}

		.welcome-message {
			font-size: 1.2em;
			width: 35em;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

@media (min-width: 22em) {
	.main-content.home .featbox .featcontent {
		.visual, .info {
			vertical-align: middle;

			.title {
				font-size: 1.6em;
			}
		}
	}
}

@media (min-width: 35em) {
	.main-content.home .featbox .featcontent .visual {
		vertical-align: middle;

		img {
			width: auto;
			height: 100%;
		}
	}

	.main-content.home .featbox .featcontent .welcome .title {
		margin-top: 1.5em;
	}
}

.main-content.home .infos .introbox {
	border-radius: size.$corner-roundness;
	background-color: #ffffff;
	border: solid size.$line-width color.$line;
	padding: 0 1em;
	margin: 1em 0;


	.title {
		font-weight: bold;
		font-size: 1.2em;
		margin-bottom: .5em;
	}

	.welcome-message {
		margin-top: .5em;
	}
}

.main-content.home .infos {
	.infobox {
		border-radius: size.$corner-roundness;
		background-color: #ffffff;
		border: solid size.$line-width color.$line;
		
		a {
			padding: 1em;
			display: block;
			color: color.$foreground;
			text-decoration: none;
		}

		a:focus .legend, a:hover .legend {
			text-decoration: underline;
		}
	}

	.legend, .value {
		display: inline-block;
		vertical-align: top;
	}

	.legend {
		height: 4.5em;
		width: 5.5em;
	}

	.value {
		font-size: 2.3em;
	}
}

@media (min-width: 29em) {
	.main-content.home .infos {
		.infobox {
			display: inline-block;
			width: 45%;
			margin: .5em 0;
			margin-right: 1em;
			height: auto;
			min-height: 7em;
			vertical-align: top;

			a {
				padding: 1em;
			}
		}

		.legend, .value {
			display: block;
		}

		.legend {
			width: 8.5em;
			height: auto;
			min-height: 3em;
			margin-bottom: .3em;
		}

		.value {
			margin-left: .2em;
			width: auto;
		}

	}

}

@media (min-width: 40em) {
	.main-content.home .infos {
		.infobox {
			width: auto;
			max-width: 100%;
			margin: .5em 0;
			margin-right: 1em;
		}

	}
}

@media (min-width: #{(31em + size.$sidebar-width)}) {
	.main-content.home .infos {
		.infobox {
			width: 43%;
			margin: .5em 0;
			margin-right: 1em;
		}

	}
}

@media (min-width: 56em) {
	.main-content.home .infos {
		.infobox {
			width: auto;
			margin: .5em 0;
			margin-right: 1em;
		}
	}
}

@media (min-width: 86em) {
	.main-content.home .infos {
		.introbox {
			vertical-align: top;
			display: inline-block;
			width: 37%;
			margin: .5em 0;
			margin-right: 1em;
			height: 8.8em;
		}

	}
}

