/* _attendance.scss */

@use "../color";
@use "../size";

#id-scanner {
	max-width: 100%;

	.video {
		height: calc(100vh - 11em);
		background-color: #000000;
		position: relative;
		border-bottom-left-radius: 1em;
		border-bottom-right-radius: 1em;
		overflow: hidden;
		width: 100%;
		object-fit: cover;

		/*
		video, .drawingBuffer {
			position: absolute;
			height: 100%;
		}
		*/
	}

	.indicator {
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;
		overflow: hidden;
		margin-bottom: 0;
		width: 100%;
		border: solid .05em color.$line;
		background-color: color.$background;
		position: relative;
		height: 3em;

		@keyframes progress {
			from {
				width: 100%;
			}
			to {
				width: 0%;
			}
		}

		@keyframes glow {
			from {
				opacity: 1;
			}	
			to {
				opacity: 0;
			}
		}

		&.success {
			.signal {
				background-color: color.$success;
				animation: glow 3s forwards;
			}

			.timeout {
				background-color: color.$primary;
				animation: progress 4s linear 3s forwards;
			}

			.status .icon {
				color: color.$success;
			}
		}

		&.failure {
			.signal {
				background-color: color.$failure;
				animation: glow 3s forwards;
			}

			.timeout {
				background-color: color.$primary;
				animation: progress 4s linear 3s forwards;
			}

			.status .icon {
				color: color.$failure;
			}

		}

		&.processing {
			.signal {
				background-color: color.$primary;
			}
			
			.status {
				animation: none;

				.text {
					color: color.$background;
				}

				.icon {
					color: color.$accent;
				}
			}
		}


		.signal {
			display: block;
			position: absolute;	
			height: 100%;
			width: 100%;
			opacity: 1;
		}

		.timeout {
			position: absolute;	
			display: block;
			height: .2em;
			width: 100%;
		}

		@keyframes fade-in {
			from {
				opacity: 0;
			}	
			to {
				opacity: 1;
			}
		}

		.status {
			position: absolute;	
			display: block;
			padding: .9em;
			text-align: center;
			width: 100%;
			animation: fade-in 2.5s;

			.icon, .text {
				vertical-align: middle;
			}

			.icon {
				margin-right: .5em;
			}


			&.success .icon {
				color: color.$success;
			}

			&.failure .icon {
				color: color.$failure;
			}

			&.idle .icon {
				color: color.$primary;
			}

			&.processing {
				animation: none;
				.icon {
					color: color.$accent;
				}
			}
		}

	}
}
