/* _events.scss */

@use "../color";
@use "../size";

.events.index {
    table {
        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.events.form {
	textarea[name="narrative"] {
		height: 16em;
	}
}

.events.evaluations {
	form {
		.checkbox-field {
			display: block;
			margin: 1em 0;
		}

		ul {
			padding-left: 0;
			list-style-type: none;
		}
	}
}

.events.attachments {
	.attachment-set {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 1.5em;

		.caption {
			margin-bottom: .5em;
		}

		.attachments {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
			gap: .2em;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			> * {
				width: 100%;
				height: 5em;
			}
		}
	}

	.attachment-views .view {
		position: fixed;
		height: 100vh;
		width: 100%;
		z-index: 100;
		background-color: color.$background;
		top: 0;
		left: 0;

		.file {
			margin: 0 auto;
			height: calc(100vh - 4.5em);

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		.toolbar {
			list-style-type: none;
			padding-left: 0;
			margin: 0;
			margin-left: .5em;

			> * {
				display: inline-block;
				margin: .5em 0;
				margin-right: .5em;

				> * {
					background-color: color.$background;
					border: solid .05em color.$line;
					border-radius: 2em;
					padding: .5em;
					color: color.$foreground;
				}
			}
		}

		.remove-button {

		}


		.close-button {
			text-decoration: none;
			background-color: transparent;
			border: none;
			border-radius: 0;
			padding: 0;
			color: color.$foreground;

			.icon {
				background-color: color.$background;
				border: solid .05em color.$line;
				border-radius: 2em;
				padding: .5em;

				svg {
				}
			}

			.text {
				display: inline-block;
				height: 1px;
				width: 1px;
				overflow: hidden;
			}
		}
	}

	[id^="attachment-item-"] {
		display: none;

		&:target {
			display: block;
		}
	}

	.attachment-view-links {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
		gap: .2em;
		max-width: size.$text-width;
		margin-right: 0;
		margin-left: 0;

		img {
			object-fit: cover;
			width: 100%;
			height: 5em;
		}
	}


}
