/* _events.scss */

@use "../color";
@use "../size";
@use "../common";

$time-width: 13.8em;
$event-item-width: $time-width + 2em; 
$event-content-width: 1em + 12em + size.$text-width;

@media (min-width: #{($event-content-width + 7em)}) {
	.events.event .item-full-content {
		width: $event-content-width;
	}
}

.main-content.events.event.attendance {
	.title {
		font-weight: bold;
	}
}

.events.event .item-full-content {
	.banner {
		background-color: #EEEEF1;
		overflow: hidden;
		padding-top: 25%;
		border-bottom: solid size.$line-width color.$line;
		position: relative;

		.content-block {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}

		img {
			display: block;
			width: 100%;
			height: min(100%);
			object-fit: cover;
		}
	}

	.banner-edit-link {
		background-color: color.$background;
		background-color: rgb(255, 255, 255, .5);
		width: auto;
		margin: 0;
		position: absolute;
		bottom: 1em;
		right: 1em;
		border-radius: size.$corner-roundness;
		overflow: hidden;

		a {
			padding: .5em;
			display: block;
		}

		&:hover {
			background-color: color.$background;
		}
	}
}

.events.index {
    table {
        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@mixin faded-text-overflow {
		content: "";
		position: absolute;
		box-shadow: 0 0 .8em 1em color.$background;
}

.events.index .event-item {
	.banner {
		background-color: #EEEEF1;
		padding-top: 25%;
		border-bottom: solid size.$line-width color.$line;
		overflow: hidden;
		position: relative;

		.content-block {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}

		img {
			display: block;
			width: 100%;
			height: min(100%);
			object-fit: cover;
		}
	}

	> .content-block {
		padding: 0 1em;

		> :first-child {
			margin-top: .5em;
		}
	}

	.title {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		position: relative;
	}

	.title::after {
		@include faded-text-overflow;
		right: 0;
		top: 0;
		height: 100%;
	}

	.date, .time {
		white-space: nowrap;
	}

	.description {
		position: relative;
		height: 5.8em;
		overflow: hidden;
		vertical-align: top;
	}

	.description::after {
		@include faded-text-overflow;
		left: 0;
		bottom: 0;
		width: 100%;
	}
}

@media (min-width: #{(($event-item-width + 1em) * 2 + 6.7em)}) {
	.events.index .event-item {
		display: inline-block;
		width: 40%;
		min-width: calc(50% - 3.5em);
		margin-right: 1em;
		margin-bottom: 2em;
	}
}

@media (min-width: #{size.$wide-screen}) {
	.events.index .event-item {
		display: block;
		width: auto;
		margin-right: 0;
		margin-bottom: 1em;
	}
}

@media (min-width: #{(($event-item-width + 1em) * 2 + 6.7em + 
	size.$sidebar-width)}) {
	.events.index .event-item {
		display: inline-block;
		width: 40%;
		min-width: calc(50% - 3.5em);
		margin-right: 1em;
		margin-bottom: 2em;
	}
}

@media (min-width: #{(($event-item-width + 1em) * 3 + 9.1em + 
	size.$sidebar-width)}) {
	.events.index .event-item {
		display: inline-block;
		width: 26%;
		min-width: calc(33% - 3.5em);
		margin-right: 1em;
		margin-bottom: 2em;
	}
}

.events.form, .events .window {
	textarea[name="narrative"] {
		height: 16em;
	}
}

.events.evaluations {
	form {
		.checkbox-field {
			display: block;
			margin: 1em 0;
		}

		ul {
			padding-left: 0;
			list-style-type: none;
		}
	}
}

.events.attachments {
	.attachment-set {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 1.5em;

		.caption {
			margin-bottom: .5em;
		}

		.attachments {

			> a {
				display: inline-block;
				margin-left: .1em;
				margin-bottom: .4em;
				width: 5em;
				height: 5em;
				vertical-align: top;
				overflow: hidden;
			}

			img {
				//object-fit: cover;
			}
		}
	}

/*
	.attachment-views .view {
		position: fixed;
		height: 100vh;
		width: 100%;
		z-index: 100;
		background-color: color.$background;
		top: 0;
		left: 0;

		.file {
			margin: 0 auto;
			height: calc(100vh - 4.5em);

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		.toolbar {
			list-style-type: none;
			padding-left: 0;
			margin: 0;
			margin-left: .5em;

			> * {
				display: inline-block;
				margin: .5em 0;
				margin-right: .5em;

				> * {
					background-color: color.$background;
					border: solid .05em color.$line;
					border-radius: 2em;
					padding: .5em;
					color: color.$foreground;
				}
			}
		}

		.remove-button {

		}


		.close-button {
			text-decoration: none;
			background-color: transparent;
			border: none;
			border-radius: 0;
			padding: 0;
			color: color.$foreground;

			.icon {
				background-color: color.$background;
				border: solid .05em color.$line;
				border-radius: 2em;
				padding: .5em;

				svg {
				}
			}

			.text {
				display: inline-block;
				height: 1px;
				width: 1px;
				overflow: hidden;
			}
		}
	}

	[id^="attachment-item-"] {
		display: none;

		&:target {
			display: block;
		}
	}

	.attachment-view-links {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
		gap: .2em;
		max-width: size.$text-width;
		margin-right: 0;
		margin-left: 0;

		img {
			object-fit: cover;
			width: 100%;
			height: 5em;
		}
	}
*/

}
