/* _events.scss */

@use "../color";
@use "../size";
@use "../common";

$time-width: 13.8em;
$event-item-width: $time-width + 2em; 
$event-content-width: 1em + 12em + size.$text-width;

@media (min-width: #{($event-content-width + 4em)}) {
	.events.event .item-full-content {
		width: $event-content-width;
	}
}

.events.index {
    table {
        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.events.index .event-item {
	.description {
		height: 4.5em;
		overflow: hidden;
		vertical-align: top;
	}
}

@media (min-width: #{(($event-item-width + 1em) * 2 + 6.7em)}) {
	.events.index .event-item {
		display: inline-block;
		width: 41%;
		min-width: calc(50% - 3.5em);
		margin-right: 1em;
	}
}

@media (min-width: #{size.$wide-screen}) {
	.events.index .event-item {
		display: block;
		width: auto;
		margin-right: 0;
	}
}

@media (min-width: #{(($event-item-width + 1em) * 2 + 6.7em + 
	size.$sidebar-width)}) {
	.events.index .event-item {
		display: inline-block;
		width: 41%;
		min-width: calc(50% - 3.5em);
		margin-right: 1em;
	}
}

@media (min-width: #{(($event-item-width + 1em) * 3 + 9.1em + 
	size.$sidebar-width)}) {
	.events.index .event-item {
		display: inline-block;
		width: 26%;
		min-width: calc(33% - 3.5em);
		margin-right: 1em;
	}
}

.events.form, .events .window {
	textarea[name="narrative"] {
		height: 16em;
	}
}

.events.evaluations {
	form {
		.checkbox-field {
			display: block;
			margin: 1em 0;
		}

		ul {
			padding-left: 0;
			list-style-type: none;
		}
	}
}

.events.attachments {
	.attachment-set {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 1.5em;

		.caption {
			margin-bottom: .5em;
		}

		.attachments {

			> a {
				display: inline-block;
				margin-left: .1em;
				margin-bottom: .4em;
				width: 5em;
				height: 5em;
				vertical-align: top;
				overflow: hidden;
			}

			img {
				//object-fit: cover;
			}
		}
	}

/*
	.attachment-views .view {
		position: fixed;
		height: 100vh;
		width: 100%;
		z-index: 100;
		background-color: color.$background;
		top: 0;
		left: 0;

		.file {
			margin: 0 auto;
			height: calc(100vh - 4.5em);

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		.toolbar {
			list-style-type: none;
			padding-left: 0;
			margin: 0;
			margin-left: .5em;

			> * {
				display: inline-block;
				margin: .5em 0;
				margin-right: .5em;

				> * {
					background-color: color.$background;
					border: solid .05em color.$line;
					border-radius: 2em;
					padding: .5em;
					color: color.$foreground;
				}
			}
		}

		.remove-button {

		}


		.close-button {
			text-decoration: none;
			background-color: transparent;
			border: none;
			border-radius: 0;
			padding: 0;
			color: color.$foreground;

			.icon {
				background-color: color.$background;
				border: solid .05em color.$line;
				border-radius: 2em;
				padding: .5em;

				svg {
				}
			}

			.text {
				display: inline-block;
				height: 1px;
				width: 1px;
				overflow: hidden;
			}
		}
	}

	[id^="attachment-item-"] {
		display: none;

		&:target {
			display: block;
		}
	}

	.attachment-view-links {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
		gap: .2em;
		max-width: size.$text-width;
		margin-right: 0;
		margin-left: 0;

		img {
			object-fit: cover;
			width: 100%;
			height: 5em;
		}
	}
*/

}
