/* funds.css */

.funds {

    .values {
        .term {
            margin-bottom: .5rem;
        }
        .value {
            margin-bottom: 1rem;
        }
    }
    .legends {
        margin-bottom: 2rem;
    }

    .funds-meter {
        height: 1.6rem;
        margin-bottom: 1rem;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0;
        display: flex;
        gap: .3rem;
        max-width: 30rem;

        * {
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	height: inherit;
    	font-size: .9rem;
    	font-weight: 500;
    	overflow: visible;
        }
    }

    .color-legend {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-right: .5rem;
    }

    .funds-meter .meter-spent,
    .spent-legend .color-legend {
        background-color: #f9f871;
    }

    .funds-meter .meter-remaining,
    .remaining-legend .color-legend {
        background-color: #96ea84;
    }
}
