/* _login.scss */

@use "../color";
@use "../size";
@use "../font";

$window-width: 21em;

.front-body {
	background-color: color.$header-bg;
}

.front-main {
	background-image: url("/images/app-cover.jpg");
	background-size: cover;
	background-color: color.$secondary;

	.content-block {
		position: relative;
		padding: 1em;
		background-color: color.$header-bg;
		$light: #2370a6;
		$dark: #070930;
		$primary: #174eae;
	/*
		background: linear-gradient(
			135deg,
			$primary 0%,
			$dark 60%,
			$light 100%
		);
		background:
			linear-gradient(135deg, $primary, $dark),
			linear-gradient(225deg, $dark, $light);
	*/
		background:
			radial-gradient(circle at top right, $primary 20%, $dark 100%),
			radial-gradient(circle at bottom left, $dark 90%, $dark 100%),
			radial-gradient(circle at bottom right, $light 10%, transparent 80%);
		background-blend-mode: lighten;
		border: .06em solid rgb(255, 255, 255, .2);

		color: color.$header-fg;
		min-height: 100vh;
	}

	a {
		color: color.$header-fg;
	}
}

.front-header {

	.title {
		font-weight: 600;
	}

	.logo, .name {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: .5em;
	}

	.logo {
		width: 5em;

		img {
			width: 100%;
		}
	}

	.name {
		width: 13em;
		white-space: normal;
	}

	.org-name {
		white-space: normal;
		display: block;
		font-family: MuseoModerno, font.$font;
		font-size: 1.1em;
	}

	.app-name {
		white-space: normal;
		display: block;
		font-family: Oxanium, font.$font;
		font-size: 1.4em;
	}
}

.front-content {
	margin-top: 2em;
	padding-bottom: 1em;

	.alert {
		background-color: rgb(255, 255, 255, .15);
		color: color.$background;
	}

	form {
		input, p {
			width: 100%;
		}

		input, button {
			background-color: rgb(255, 255, 255, .15);
			color: color.$background;
		}

		button:hover {
			background-color: rgb(255, 255, 255, .3);
		}

		button:active {
			background-color: rgb(255, 255, 255, .2);
		}
	}

	.title {
		font-size: 1.2em;
	}

	.sign-in-separator {
		white-space: nowrap;

		.text, .line {
			display: block;
			vertical-align: middle;
		}

		.text {
			text-align: center;
			padding: 0 .5em;
			margin: 0;
			width: auto;
		}

		.line {
			width: 42%;
			max-width: calc(50% - 1.5em);
			border-top: solid .1em color.$icon-dark;
		}
	}

	.sign-in-with {
		margin: 1em 0;
	}

	.signin-link {
		width: auto;

		&:hover, &:focus {
			border-color: color.$header-fg;
		}
	}
}

@media (min-width: #{($window-width + 4em)}) {
	.front-main {
		padding: size.$edge-padding 0;
		min-height: calc(100vh - size.$edge-padding * 2);
	}

	.front-main .content-block {
		border-radius: size.$corner-roundness;
		width: $window-width;
		border-radius: size.$corner-roundness;
		height: auto;
		margin: 1em auto;
		min-height: 0;
	}
}

@media (min-width: 40em) {
	.front-main {
		padding: 0;
	}

	.front-main .content-block {
		border-radius: 0;
		margin: 0;
		min-height: calc(100vh - 2em);
		border-left: 0;
		border-top: 0;
		border-bottom: 0;
	}
}
