/* _login.scss */

@use "../color";
@use "../size";

$window-width: 21em;

.front-body {
	background-color: color.$header-bg;
}

.front-main {
	background-image: url("/images/app-cover.jpg");
	background-size: cover;
	background-color: color.$secondary;
	width: 100%;
	min-height: 100vh;

	.content-block {
		position: relative;
		padding: 0 1em;
		padding-bottom: 2.5em;
		background-color: color.$header-bg;
		color: color.$header-fg;
		height: 100vh;
		width: $window-width;
		max-width: 100%;
		padding-top: 1em;
	}

	a {
		color: color.$header-fg;
	}
}

.front-header {

	.title {
		font-weight: 600;
	}

	.logo, .name {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: .5em;
	}

	.logo {
		width: 5em;

		img {
			width: 100%;
		}
	}

	.name {
		width: 13em;
		white-space: normal;
	}

	.org-name {
		white-space: normal;
		display: block;
		font-family: 'MuseoModerno';
		font-size: 1.1em;
	}

	.app-name {
		white-space: normal;
		display: block;
		font-family: 'Oxanium';
		font-size: 1.4em;
	}
}

.front-content {
	margin-top: 2em;

	form {
		input, p {
			width: 100%;
		}
	}

	.title {
		font-size: 1.2em;
	}

	.sign-in-separator {
		white-space: nowrap;

		.text, .line {
			display: block;
			vertical-align: middle;
		}

		.text {
			text-align: center;
			padding: 0 .5em;
			margin: 0;
			width: auto;
		}

		.line {
			width: 42%;
			max-width: calc(50% - 1.5em);
			border-top: solid .1em color.$icon-dark;
		}
	}

	.sign-in-with {
		margin: 1em 0;
	}

	.alert {
		color: color.$foreground;
	}

	.signin-link {
		width: auto;

		&:hover, &:focus {
			border-color: color.$header-fg;
		}
	}
}

@media (min-width: 0em) {
	.front-main .content-block {
		width: 100%;
		height: 100vh;
	}
}

@media (min-width: #{($window-width + 4em)}) {
	.front-main {
		padding: 1em 0;
	}

	.front-main .content-block {
		border-radius: size.$corner-roundness;
		width: $window-width;
		border-radius: size.$corner-roundness;
		height: auto;
		margin: 0 auto;
	}
}

@media (min-width: 40em) {
	.front-main {
		padding: 0;
	}

	.front-main .content-block {
		border-radius: 0;
		margin: 0;
		min-height: 100vh;
	}
}
