/* _position.scss */

.positions.index {
    .position-name {
        font-weight: bold;

        a {
            font-weight: normal;
        }
    }

}
@media (min-width: 31em) {
    .positions.index {
        .table-2 {
            .position-name {
                font-weight: normal;
            }
        }
    }
}
