/* _settings.scss */

@use "../size";
@use "../color";

.main-content.settings {
	section p {
		margin-top: .5em;
	}

	section h2 {
		margin-bottom: .5em;
	}

	section {
		padding: 0 4%;
		margin: 1em 0;
		border: solid size.$line-width color.$line;
		background-color: color.$background;
		border-radius: size.$corner-roundness;
        }
}

@media (min-width: 31em) {
	.main-content.settings section {
		display: inline-block;
		padding: 0 3%;
		width: 41%;
		vertical-align: top;
		margin-right: 2%;
		min-height: 7em;
	}
}

@media (min-width: 67em) {
	.main-content.settings section {
		padding: 0 2%;
		width: 25%;
		margin-right: 1%;
	}
}
