/* _settings.scss */

@use "../size";
@use "../color";

.main-content.settings {
	section p {
		margin-top: .5em;
	}

	section h2 {
		margin-bottom: .5em;
	}

        section {
            border-bottom: solid size.$line-width color.$line;
        }
}
