/* _signup-invitation.css */

@use "../size";
@use "../color";

.signup-invitation {
	margin: 0 auto;
	padding: .01em 1em;
	padding-bottom: 1em;
	max-width: size.$page-width;
	background-color: #ffffff;

	.title {
		font-size: 1.2em;
	}


	.login-button-container {
	}
}
