/* sign-up-invitation.css */

.signup-invitation {
	margin: 0 auto;
	padding: .01rem 1rem;
	padding-bottom: 1rem;
	max-width: var(--page-width);
	background-color: #ffffff;

	.title {
		font-size: 1.2rem;
	}


	.login-button-container {
	}
}